<template>
  <div class="page">
    <div class="page-section">
      <area-picker v-model="area"></area-picker>
      <m-calendar v-model="date" fold></m-calendar>
      <room-picker :roomList="roomListTemp" @handle="handle_roomList" :area="area"></room-picker>
    </div>
    <div class="page-section" v-for="room in roomList" :key="room.id">
      <room-item :room="room" :date="date" ></room-item>
    </div>
  </div>
</template>
<script>
import AreaPicker from './components/AreaPicker'
import RoomItem from './components/RoomItem'
import RoomPicker from './components/RoomPicker'
import { getAreaRoomList } from '@/api'

export default {
  name: 'room',
  components: {
    AreaPicker,
    RoomItem,
    RoomPicker,
  },
  data() {
    return {
      area: '',
      date: localStorage.getItem('_DATE') || this.$dt.getToday(),
      roomList: [],
      roomListTemp: [],
    }
  },
  methods: {
    setRoomList() {
      getAreaRoomList({ name: this.area, date: this.date }).then((resp) => {
        if (resp.status == 200) {
          this.roomList = resp.data.roomList
          this.roomListTemp = this.roomList
        }
      })
    },
    handle_roomList(data) {
      this.roomList = data
    },
  },
  watch: {
    area(val) {
      if (val) {
        this.setRoomList()
      }
    },
    date(val) {
      if (val) {
        localStorage.setItem('_DATE', val)
        this.setRoomList()
      }
    },
  },
}
</script>
<style scoped>
.page-section:last-child {
  margin-bottom: 60px;
}
</style>

