<template>
  <div class="page">
    <div class="page-section">
      <m-field label="主题" :value="meeting.name" type="readonly">
        <div style="width: 50px; color: gray;">{{ status }}</div>
      </m-field>
      <m-field label="时间" :value="date" type="readonly" class="divider" v-if="date"></m-field>
      <m-field label="地点" :value="meeting.location" type="readonly" class="divider"></m-field>
      <m-field
        label="详情"
        :value="meeting.description"
        type="readonly"
        class="divider"
        v-if="meeting.description"
      ></m-field>
    </div>
    <div class="page-section page-section--space" v-if="allEmployees.length > 0">
      <m-tab v-model="selected">
        <m-tab-item name="all">
          <div class="m-tab-item__label">全部</div>
          <div class="m-tab-item__label">{{ allEmployees.length }}</div>
        </m-tab-item>
        <m-tab-item name="accept">
          <div class="m-tab-item__label">接受</div>
          <div class="m-tab-item__label">{{ acceptEmployees.length }}</div>
        </m-tab-item>
        <m-tab-item name="rest">
          <div class="m-tab-item__label">请假</div>
          <div class="m-tab-item__label">{{ restEmployees.length }}</div>
        </m-tab-item>
      </m-tab>
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="all">
          <meeting-employee-info
            v-for="employee in allEmployees"
            :key="employee.name"
            :employee="employee"
          ></meeting-employee-info>
        </mt-tab-container-item>
        <mt-tab-container-item id="accept">
          <meeting-employee-info
            v-for="employee in acceptEmployees"
            :key="employee.name"
            :employee="employee"
          ></meeting-employee-info>
        </mt-tab-container-item>
        <mt-tab-container-item id="rest">
          <meeting-employee-info
            v-for="employee in restEmployees"
            :key="employee.name"
            :employee="employee"
          ></meeting-employee-info>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>

    <m-navbar fixed pos="bottom" v-if="showOwner">
      <div class="m-tab-item-op">
        <div class="m-tab-item-op__button" @click="onCancelMeeting">取消预订</div>
        <div class="m-tab-item-op__button" @click="onEditMeeting">编辑</div>
        <div
          class="m-tab-item-op__button m-tab-item-op__button--share"
          @click="openModal"
          v-if="!isRepeat"
        >转赠</div>
        <div class="m-tab-item-op__button" @click="onEditRepeatMeeting" v-else>序列编辑</div>
      </div>
    </m-navbar>
    <m-navbar fixed pos="bottom" v-else-if="showMember">
      <div class="m-tab-item-op">
        <div class="m-tab-item-op__button" @click="onAcceptMeeting">接受</div>
        <div class="m-tab-item-op__button" @click="onRestMeeting">请假</div>
        <div class="m-tab-item-op__button m-tab-item-op__button--share" @click="openModal" v-if="currentUser.username===meeting.createBy">转赠</div>
      </div>
    </m-navbar>

    <div class="overlay" v-show="isModal" @click="clearModal">
      <div class="lightbox-wrapper">
        <div class="lightbox"></div>
      </div>
    </div>
  </div>
</template>
<script>
import MeetingEmployeeInfo from './components/MeetingEmployeeInfo'
import { getMeeting, deleteMeeting, acceptMeeting, restMeeting ,giftMeeting} from '@/api'
import { mapGetters } from 'vuex'
import { configSDK } from '@/utils/configSDK'
import {Notify} from 'vant'
export default {
  name: 'meeting-detail',
  components: {
    MeetingEmployeeInfo,
  },
  data() {
    return {
      date: '',
      meeting: {},
      status: '',
      allEmployees: [],
      acceptEmployees: [],
      restEmployees: [],
      isModal: false,
      selected: 'all',
      weekList: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
    }
  },
  mounted() {
    this.setMeetingData()
    configSDK(['selectEnterpriseContact'])
  },
  activated() {
    this.setMeetingData()
  },
  methods: {
    setMeetingDate() {
      // 设置日期
      let startTime = this.$dt.newDate(this.meeting.startTime)
      let endTime = this.$dt.newDate(this.meeting.endTime)
      let date =
        startTime.getMonth() +
        '月' +
        startTime.getDay() +
        '日' +
        ' ' +
        this.weekList[startTime.getWeek() - 1] +
        ' ' +
        startTime.getTime() +
        ' ~ ' +
        endTime.getTime()
      this.date = date
    },
    setMeetingEmployees() {
      // 设置参会人员
      let employees = this.meeting.employees || []
      this.allEmployees = employees
      this.acceptEmployees = employees.filter(employee => employee.status === 1)
      this.restEmployees = employees.filter(employee => employee.status === 2)
    },
    setMeetingStatus() {
      // 设置会议状态
      let now = new Date().getTime()
      let startTime = this.meeting.startTime
      let endTime = this.meeting.endTime

      if (now < startTime) {
        this.status = '待开会'
      } else if (now > startTime && now < endTime) {
        this.status = '开会中'
      } else {
        this.status = '已过期'
      }
    },
    setMeetingData() {
      // 设置会议信息
      let query = this.$route.query
      getMeeting(query.mid).then(resp => {
        if (resp.status === 200) {
          this.meeting = resp.data.meeting
          this.setMeetingDate()
          this.setMeetingEmployees()
          this.setMeetingStatus()
        }
      })
    },
    openModal() {
      let _this = this
      if(process.env.NODE_ENV==='production'){
         wx.invoke("selectEnterpriseContact", 
          {
                    "fromDepartmentId": 0,// 必填，表示打开的通讯录从指定的部门开始展示，-1表示自己所在部门开始, 0表示从最上层开始
                    "mode": "single",// 必填，选择模式，single表示单选，multi表示多选
                    "type": ["user"],// 必填，选择限制类型，指定department、user中的一个或者多个
                    "selectedDepartmentIds": '',// 非必填，已选部门ID列表。用于多次选人时可重入，single模式下请勿填入多个id
                    "selectedUserIds": ''// 非必填，已选用户ID列表。用于多次选人时可重入，single模式下请勿填入多个id
            },function(res){
                    if (res.err_msg == "selectEnterpriseContact:ok")
                    
                        {
                            if(typeof res.result == 'string')
                            {
                                    res.result = JSON.parse(res.result) //由于目前各个终端尚未完全兼容，需要开发者额外判断result类型以保证在各个终端的兼容性
                            }
                            var selectedUserList = res.result.userList; // 已选的成员列表
                            for (let i = 0; i < selectedUserList.length; i++)
                            {
                                    var user = selectedUserList[i];
                                    var userId = user.id; // 已选的单个成员ID
                                    
                            }
                            giftMeeting({
                              meeting:_this.meeting,
                              acceptId:userId
                            }).then(resp=>{
                              Notify({type:'success',message:'转增成功'})
                              _this.$router.push({
                                path:'/'
                              })
                            },err=>{
                              Notify({type:'danger',message:err})
                            })
                    }
            }
    );
      }else{
        giftMeeting({
          meeting:this.meeting,
          acceptId:"4713"
        }).then(res=>{
           Notify({type:'success',message:'转增成功'})
          _this.$router.push({
                                path:'/'
                              })
        })
      }
    },
    clearModal() {
      this.isModal = false
    },
    onCancelMeeting() {
      // 取消会议预定
      let query = this.$route.query
      this.$messagebox({
        message: '真的要取消预订吗?',
        showCancelButton: true,
      }).then(action => {
        if (action === 'confirm') {
          deleteMeeting(query.mid).then(() => {
            this.$router.push({
              path: '/meeting',
              query: {
                force: true,
              },
            })
          })
        }
      })
    },
    onEditMeeting() {
      let date = this.$dt.newDate(this.meeting.startTime).getDate()
      this.$router.push({
        path: '/meeting/edit',
        query: {
          roomId: this.meeting.roomId,
          date: date,
          mid: this.meeting.id,
        },
      })
    },
    onEditRepeatMeeting() {
      let date = this.$dt.newDate(this.meeting.startTime).getDate()
      this.$router.push({
        path: '/meeting/edit',
        query: {
          roomId: this.meeting.roomId,
          date: date,
          mid: this.meeting.id,
          repeatId: this.meeting.repeatId,
        },
      })
    },
    onAcceptMeeting() {
      acceptMeeting(this.$route.query.mid).then(() => {
        this.setMeetingData()
      })
    },
    onRestMeeting() {
      restMeeting(this.$route.query.mid).then(() => {
        this.setMeetingData()
      })
    },
  },
  computed: {
    ...mapGetters({
      currentUser: 'currentUser',
    }),
    isOwner() {
      let employees = this.meeting.employees || []
      let employee = employees.filter(
        employee => employee.usercode === this.currentUser.usercode
      )
      if (employee.length > 0) {
        return employee[0].isOwner
      }
      return false
    },
    isRepeat() {
      return this.meeting.repeatId !== '' ? true : false
    },
    showOwner() {
      return this.isOwner && this.status === '待开会'
    },
    showMember() {
      let employees = this.meeting.employees || []
      let employee = employees.filter(
        employee => employee.usercode === this.currentUser.usercode
      )
      if (employee.length > 0) {
        employee = employee[0]
        if (
          !employee.isOwner &&
          employee.status === 0 &&
          this.status === '待开会'
        ) {
          return true
        }
      }
      return false
    },
  },
}
</script>
<style scoped>
.m-tab-item__label {
  height: 20px;
  line-height: 20px;
}

.m-tab-item-op {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.m-tab-item-op__button {
  width: 32%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #26a2ff;
  border-radius: 2px;
  text-align: center;
}

.m-tab-item-op__button--share {
  background-color: #26a2ff;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightbox-wrapper {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('../../assets/img/share.png');
  background-size: 80% auto;
  background-repeat: no-repeat;
}
</style>

