<template>
  <div class="page">
    <m-form :model="formData" :rules="rules" ref="form">
      <div class="page-section">
        <div class="room-item">
          <room-item-info :room="room"></room-item-info>
        </div>
      </div>
      <div class="page-section page-section--space">
        <m-field label="主题" :labelWidth="labelWidth" v-model="formData.name"></m-field>
      </div>
      <div class="page-section page-section--space">
        <div class="meeting-time-info">
          <div :style="{ width: labelWidth }">时间</div>
          <meeting-calendar-item v-model="date"></meeting-calendar-item>
          <div class="meeting-time-info--space">{{ formData.startTime }}</div>
          <div class="meeting-time-info--space" v-show="formData.startTime">~</div>
          <div class="meeting-time-info--space">{{ formData.endTime }}</div>
        </div>
        <div class="room-item">
          <room-item-time-block
            type="meeting"
            :room="room"
            :date="date"
            :meetingId="meetingId"
            :repeatId="repeatId"
            isSelect
            v-on:selectTimeBlock="handleTimeBlock"
            :st="formData.startTime"
            :et="formData.endTime"
          ></room-item-time-block>
        </div>
      </div>
      <div class="page-section page-section--space page-section--divider">
        <m-field label="参会人" :labelWidth="labelWidth" type="link" value="/org"></m-field>
        <input type="hidden" v-model="formData.org" />
      </div>
      <div class="page-section page-section--divider" v-show="selectedOrgs.length > 0">
        <div class="meeting-employee" v-scroll>
          <span
            class="meeting-employee-item"
            v-for="org in selectedOrgs"
            :key="org.name"
          >{{ org.name }}</span>
        </div>
      </div>
      <div class="page-section page-section--space" v-if="repeatId">
        <m-field
          label="重复类型"
          :labelWidth="labelWidth"
          type="picker"
          :slots="repTypeSlots"
          v-model="formData.repType"
        ></m-field>
        <m-field
          label="重复星期"
          :labelWidth="labelWidth"
          type="picker"
          :slots="weekSlots"
          class="divider"
          v-model="formData.repWeek"
          v-if="isRepeatWeek"
        ></m-field>
        <m-field
          label="重复日期"
          :labelWidth="labelWidth"
          :slots="monthSlots"
          type="picker"
          class="divider"
          v-model="formData.repDay"
          v-if="isRepeatMonth"
        ></m-field>
        <div class="meeting-time-info divider" v-if="isRepeat">
          <div :style="{ width: labelWidth }">截止日期</div>
          <meeting-calendar-item v-model="formData.endDate" class="meeting-calendar__large"></meeting-calendar-item>
        </div>
      </div>

      <div class="page-section page-section--space">
        <div class="meeting-radio">
          <div :style="{ width: labelWidth }">会议通知</div>
          <m-checklist :options="options" v-model="formData.noticeType"></m-checklist>
        </div>
      </div>
      <div class="page-section page-section--space page-section--divider">
        <m-field label="高级选项" :labelWidth="labelWidth" type="collapse" v-model="isShow"></m-field>
      </div>
      <div class="page-section page-section--space" v-show="isShow">
        <m-field
          label="会议描述"
          :labelWidth="labelWidth"
          type="textarea"
          v-model="formData.description"
        ></m-field>
      </div>
      <div class="page-space"></div>
      <m-navbar fixed pos="bottom">
        <div style="width: 100%; padding: 10px;">
          <mt-button size="large" type="primary" @click="onSubmit">立即预定</mt-button>
        </div>
      </m-navbar>
    </m-form>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import { editMeeting, getMeeting, getRepeatInfo } from '@/api'
import editMixin from './mixins/editMixin'

export default {
  name: 'meeting-edit',
  mixins: [editMixin],
  data() {
    return {
      meeitngId: '',
      room: {},
      date: '',
      isShow: false,
      repeatId: '',
    }
  },
  created() {
    this.meetingId = Number(this.$route.query.mid)
    this.repeatId = Number(this.$route.query.repeatId) || ''
    this.date = this.$route.query.date
  },
  mounted() {
    this.init()
  },
  methods: {
    ...mapMutations({
      SET_SELECT_ORG: 'SET_SELECT_ORG',
    }),
    init() {
      this.getCurrentMeeting()
      if (this.repeatId) {
        this.getCurrentRepeatInfo()
      }
    },
    getCurrentMeeting() {
      let query = this.$route.query
      getMeeting(query.mid).then(resp => {
        let meeting = resp.data.meeting
        this.meeting = meeting
        // formData
        this.formData.name = meeting.name
        this.formData.description = meeting.description
        this.formData.startTime = this.$dt.newDate(meeting.startTime).getTime()
        this.formData.endTime = this.$dt.newDate(meeting.endTime).getTime()
        this.formData.noticeType = meeting.noticeType.split(',') || []
        for (let option of this.options) {
          if (
            this.formData.noticeType.includes(option.value) &&
            option.disabled !== 'disabled'
          ) {
            option.checked = true
          }
        }

        this.SET_SELECT_ORG(meeting.orgnazation)
      })
    },
    getCurrentRepeatInfo() {
      let repType = ['不重复', '每天', '每周', '每月']
      let repWeek = ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
      getRepeatInfo(this.repeatId).then(resp => {
        if (resp.status === 200) {
          let info = resp.data.repeatInfo
          if (info) {
            this.date = info.startDate
            this.formData.endDate = info.endDate
            this.formData.repType = repType[info.repType]
            this.formData.repDay = info.repDay
            this.formData.repWeek =
              info.repWeek !== -1 ? repWeek[info.repWeek] : ''
          }
        }
      })
    },
    makeFormData() {
      let repType = ['不重复', '每天', '每周', '每月']
      let repWeek = ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
      let formdata = Object.assign({}, this.formData)
      formdata.startTime = this.date + ' ' + this.formData.startTime
      formdata.endTime = this.date + ' ' + this.formData.endTime
      formdata.roomId = this.room.id
      formdata.noticeType = this.formData.noticeType.join(',')
      formdata.repType = repType.indexOf(this.formData.repType)
      if (this.repeatId) {
        formdata.repWeek = repWeek.indexOf(this.formData.repWeek)
        formdata.repeatId = this.repeatId
      }
      return formdata
    },
    onSubmit() {
      this.formData.org = JSON.stringify(this.selectedOrgs)
      this.$refs.form.validate((valid, errmsg) => {
        if (valid) {
          let formdata = this.makeFormData()
          editMeeting(this.meetingId, formdata).then(resp => {
            if (resp.status === 200) {
                if (resp.data.checkFailed) {
                    this.$toast({
                              message: resp.errmsg,
                              duration: 1500,
                            });
                    return false
                }else {
                    this.showErrorOrSubmit(resp.data)
                }
            }
          })
        } else {
          this.$toast({
            message: errmsg,
            duration: 1500,
          })
          return false
        }
      })
    },
  },
}
</script>

<style scoped>
.page-space {
  padding-bottom: 100px;
}
.room-item {
  padding: 10px;
}

.page-section--divider {
  border-bottom: 1px solid #e2e2e2;
}

.meeting-employee {
  overflow-x: scroll;
  max-width: 960px;
  height: 42px;
  padding: 0 10px;
  color: gray;
}

.meeting-employee-item {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  margin-right: 5px;
  font-size: 18px;
}

.meeting-time-info,
.meeting-radio {
  display: flex;
  height: 42px;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #e2e2e2;
  line-height: 42px;
  font-size: 16px;
}

.meeting-time-info--space {
  margin-right: 10px;
}
</style>
