<template>
  <div class="page">
    <div class="page-section">
      <m-tab v-model="selected">
        <m-tab-item name="current">
          <div class="m-tab-item__content">我的会议</div>
        </m-tab-item>
        <m-tab-item name="history">
          <div class="m-tab-item__content">历史会议</div>
        </m-tab-item>
      </m-tab>
    </div>
    <div class="page-section">
      <mt-tab-container v-model="selected">
        <mt-tab-container-item id="current">
          <meeting-info v-for="meeting in currentMeetingList" :key="meeting.id" :meeting="meeting"></meeting-info>
        </mt-tab-container-item>
        <mt-tab-container-item id="history">
          <meeting-info v-for="meeting in historyMeetingList" :key="meeting.id" :meeting="meeting"></meeting-info>
        </mt-tab-container-item>
      </mt-tab-container>
    </div>
    <div class="m-tab-item--more" v-if="showMore">
      <span class="theme-color" @click="nextPage">更多</span>
    </div>
    <div class="page-section"></div>
  </div>
</template>
<script>
import MeetingInfo from './components/MeetingInfo'
import { getMeetingList } from '@/api'
export default {
  name: 'meeting',
  data() {
    return {
      selected: 'current',
      meetingList: [],
      currentMeetingList: [],
      historyMeetingList: [],
      size: 10,
      page: {
        current: 1,
        history: 1,
      },
    }
  },
  computed: {
    showMore() {
      let selected = this.selected
      let meetingList =
        selected === 'current'
          ? this.currentMeetingList
          : this.historyMeetingList
      if (meetingList.length === this.page[selected] * this.size) {
        return true
      }
      return false
    },
  },
  mounted() {
    this.initMeetingList()
  },
  activated() {
    this.initMeetingList()
  },
  methods: {
    initMeetingList() {
      getMeetingList({
        selected: 'current',
        page: this.page.current,
        size: this.size,
      }).then(resp => {
        if (resp.status === 200) {
          this.currentMeetingList = resp.data.meetingList
        }
      })
      getMeetingList({
        selected: 'history',
        page: this.page.history,
        size: this.size,
      }).then(resp => {
        if (resp.status === 200) {
          this.historyMeetingList = resp.data.meetingList
        }
      })
    },
    nextPage() {
      this.page[this.selected] += 1
      let meetingList =
        this.selected === 'current'
          ? this.currentMeetingList
          : this.historyMeetingList
      getMeetingList({
        selected: this.selected,
        page: this.page[this.selected],
        size: this.size,
      }).then(resp => {
        if (resp.status === 200) {
          for (let i of resp.data.meetingList) {
            meetingList.push(i)
          }
        }
      })
    },
  },
  components: {
    MeetingInfo,
  },
}
</script>
<style scoped>
.page-section {
  height: 100%;
}

.page-section:last-child {
  margin-bottom: 60px;
}

.m-tab {
  padding: 0 10px;
  box-shadow: 0 1px 5px #e3e3e3;
}

.m-tab-item__content {
  height: 30px;
  line-height: 30px;
}

.m-tab-item--more {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
</style>
