<template>
  <div class="page">
    <m-form :model="formData" :rules="rules" ref="form">
      <div class="page-section">
        <div class="room-item">
          <room-item-info :room="room"></room-item-info>
        </div>
      </div>
      <div class="page-section page-section--space">
        <m-field label="主题" :labelWidth="labelWidth" v-model="formData.name"></m-field>
      </div>
      <div class="page-section page-section--space">
        <div class="meeting-time-info">
          <div :style="{width: labelWidth}">时间</div>
          <meeting-calendar-item v-model="date" showWeek></meeting-calendar-item>
          <div class="meeting-time-info--space">{{ formData.startTime }}</div>
          <div class="meeting-time-info--space" v-show="formData.startTime">~</div>
          <div class="meeting-time-info--space">{{ formData.endTime }}</div>
        </div>
        <div class="room-item">
          <room-item-time-block
            type="meeting"
            :room="room"
            :date="date"
            isSelect
            v-on:selectTimeBlock="handleTimeBlock"
          ></room-item-time-block>
        </div>
      </div>
      <div class="page-section page-section--space page-section--divider" @click="showPDF">
        <m-field label="预约规则" :labelWidth="labelWidth" type="link" ></m-field>
      </div>
      <div class="page-section page-section--space page-section--divider"  @click="selectPeople">
        <m-field label="参会人" :labelWidth="labelWidth" type="link" ></m-field>
        <input type="hidden" v-model="formData.org" />
      </div>
      <div class="page-section page-section--divider" v-show="formData.org > 0">
        <div class="meeting-employee" v-scroll>
          <span
            class="meeting-employee-item"
            v-for="org in formData.org"
            :key="org.name"
          >{{org.name}}</span>
        </div>
      </div>
      <div class="page-section page-section--space">
        <div class="meeting-radio">
          <div :style="{width: labelWidth}">会议通知</div>
          <m-checklist :options="options" v-model="formData.noticeType"></m-checklist>
        </div>
      </div>
      <div class="page-section page-section--space">
        <m-field
          label="重复类型"
          :labelWidth="labelWidth"
          type="picker"
          :slots="repTypeSlots"
          v-model="formData.repType"
        ></m-field>
        <m-field
          label="重复星期"
          :labelWidth="labelWidth"
          type="picker"
          :slots="weekSlots"
          class="divider"
          v-model="formData.repWeek"
          v-if="isRepeatWeek"
        ></m-field>
        <m-field
          label="重复日期"
          :labelWidth="labelWidth"
          :slots="monthSlots"
          type="picker"
          class="divider"
          v-model="formData.repDay"
          v-if="isRepeatMonth"
        ></m-field>
        <div class="meeting-time-info divider" v-if="isRepeat">
          <div :style="{width: labelWidth}">截止日期</div>
          <meeting-calendar-item v-model="formData.endDate" class="meeting-calendar__large"></meeting-calendar-item>
        </div>
      </div>

      <!-- <div class="page-section page-section--space">
        <m-field
          label="会前提醒"
          :labelWidth="labelWidth"
          type="picker"
          :slots="notice"
          v-model="formData.isNotice"
        ></m-field>
      </div> -->

      <div class="page-section page-section--space page-section--divider">
        <m-field label="高级选项" :labelWidth="labelWidth" type="collapse" v-model="isShow"></m-field>
      </div>
      <div class="page-section page-section--space" v-show="isShow">
        <m-field
          label="会议描述"
          :labelWidth="labelWidth"
          type="textarea"
          v-model="formData.description"
        ></m-field>
      </div>
      
      <div class="page-space"></div>
      <m-navbar fixed pos="bottom">
        <div style="width: 100%; padding: 10px;">
          <mt-button size="large" type="primary" @click="onSubmit">立即预定</mt-button>
        </div>
      </m-navbar>
    </m-form>
  </div>
</template>
<script>
import { newMeeting } from '@/api'
import editMixin from './mixins/editMixin'
import { configSDK } from '@/utils/configSDK'
export default {
  name: 'meeting-new',
  mixins: [editMixin],
  data() {
    return {
      date: '',
      org:[]
    }
  },
  mounted() {
    this.date = this.$dt.getToday()
    this.getCurrentRoom()
    configSDK(['selectEnterpriseContact'])
  },
  methods: {
    showPDF(){
      const a  =window.document.createElement('a')
      a.href = 'http://admin.oaloft.com/api/v1/app/meetings/pdf'
      a.click()
    },
    selectPeople(){
      let _this = this
      let selectedDepartmentIds = []
      let selectedUserIds = []
      this.org.forEach(item=>{
        if(item.type==='DEPARTMENT'){
          selectedDepartmentIds.push(item.id)
        }else if (item.type==='EMPLOYEE'){
          selectedUserIds.push(item.usercode)
        }
      })
          wx.invoke("selectEnterpriseContact", 
          {
                    "fromDepartmentId": 0,// 必填，表示打开的通讯录从指定的部门开始展示，-1表示自己所在部门开始, 0表示从最上层开始
                    "mode": "multi",// 必填，选择模式，single表示单选，multi表示多选
                    "type": ["department", "user"],// 必填，选择限制类型，指定department、user中的一个或者多个
                    "selectedDepartmentIds": selectedDepartmentIds,// 非必填，已选部门ID列表。用于多次选人时可重入，single模式下请勿填入多个id
                    "selectedUserIds": selectedUserIds// 非必填，已选用户ID列表。用于多次选人时可重入，single模式下请勿填入多个id
            },function(res){
              _this.org = []
                    if (res.err_msg == "selectEnterpriseContact:ok")
                    
                        {
                            if(typeof res.result == 'string')
                            {
                                    res.result = JSON.parse(res.result) //由于目前各个终端尚未完全兼容，需要开发者额外判断result类型以保证在各个终端的兼容性
                            }
                            var selectedDepartmentList = res.result.departmentList;// 已选的部门列表
                            for (let i = 0; i < selectedDepartmentList.length; i++)
                            {
                                    var department = selectedDepartmentList[i];
                                    _this.org.push({
                                      id:department.id,
                                      name:department.name,
                                      type:'DEPARTMENT'
                                    })
                            }
                            var selectedUserList = res.result.userList; // 已选的成员列表
                            for (let i = 0; i < selectedUserList.length; i++)
                            {
                                    var user = selectedUserList[i];
                                    var userId = user.id; // 已选的单个成员ID
                                    var userName = user.name;// 已选的单个成员名称
                                    var userAvatar= user.avatar;// 已选的单个成员头像
                                    _this.org.push({
                                      name:user.name,
                                      type:'EMPLOYEE',
                                      usercode:user.id,
                                    })
                            }
                    }
            }
    );
    },
    makeFormData() {
      let repType = ['不重复', '每天', '每周', '每月']
      let repWeek = ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
      let repNotice = ['是','否']
      let formdata = Object.assign({}, this.formData)
      formdata.startTime = this.date + ' ' + this.formData.startTime
      formdata.endTime = this.date + ' ' + this.formData.endTime
      formdata.roomId = this.room.id
      formdata.noticeType = this.formData.noticeType.join(',')
      formdata.repType = repType.indexOf(this.formData.repType)
      formdata.repWeek = repWeek.indexOf(this.formData.repWeek)
      // formdata.isNotice = repNotice.indexOf(this.formData.isNotice)
      return formdata
    },
    onSubmit() {
      this.formData.org = JSON.stringify(this.org)
      let formdata = this.makeFormData()
      this.$refs.form.validate((valid, errmsg) => {
        if (valid) {
          newMeeting(formdata).then(resp => {
            if (resp.status === 200) {
                if (resp.data.checkFailed) {
                    this.$toast({
                              message: resp.errmsg,
                              duration: 1500,
                            });
                    return false
                }else {
                    this.showErrorOrSubmit(resp.data)
                }

            }
          })
        } else {
          this.$toast({
            message: errmsg,
            duration: 1500,
          })
          return false
        }
      })
    },
    showErrorOrSubmit(resp_data) {
      let message = ''
      if (resp_data.isExists) {
        for (let meeting of resp_data.meetingList) {
          let st = this.$dt
            .newDate(meeting.startTime)
            .format('YYYY-MM-DD HH:mm')
          let et = this.$dt.newDate(meeting.endTime).format('HH:mm')
          message += `\n${st} ~ ${et} 与会议: “${meeting.name}” 冲突。`
        }

        this.$messagebox.alert(message, '冲突').then(() => {
          this.$messagebox
            .confirm('是否跳过冲突重新提交', '提示')
            .then(action => {
              if (action === 'confirm') {
                this.formData.action = 'execute'
                this.onSubmit()
              }
            })
        })
      } else {
        this.toLink('/meeting')
      }
    },
  },
}
</script>

<style scoped>
.page-space {
  padding-bottom: 100px;
}
.room-item {
  padding: 10px;
}

.page-section--divider {
  border-bottom: 1px solid #e2e2e2;
}

.meeting-employee {
  overflow-x: scroll;
  max-width: 960px;
  height: 42px;
  padding: 0 10px;
  color: gray;
}

.meeting-employee-item {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  margin-right: 5px;
  font-size: 18px;
}

.meeting-time-info,
.meeting-radio {
  display: flex;
  height: 42px;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #e2e2e2;
  line-height: 42px;
  font-size: 16px;
}

.meeting-calendar__large {
  width: 90%;
  padding: 0 10px;
}

.meeting-time-info--space {
  margin-right: 10px;
}
</style>
