<template>
  <div>
      <div class="d-header"><span>全部会议</span></div>
      <van-cell-group v-if="currentMeetingList.length!==0">
          <van-cell title="单元格" value="内容" v-for="item in currentMeetingList" :key="item.id" >
              <template #default>
                  <div style="marginTop:45px">
                      <van-button round type="primary" size="mini" v-if="item.isTime" @click="SignMeeting(item)">
                          <span style="margin:5px" v-if="!item.isSignIn">点击签到</span>  
                          <span style="margin:5px" v-if="item.isSignIn">结束会议</span>  
                      </van-button>
                      <van-button round type="primary" size="mini" v-if="!item.isTime" disabled>
                          <span style="margin:5px" v-if="!item.isSignIn && !item.isOver">点击签到</span>  
                          <span style="margin:5px" v-if="item.isOver && !item.isSignIn">会议过期</span> 
                      </van-button>
                </div>
              </template>
              <template #title>
                <div>{{$dt.newDate(item.startTime)}}</div>
                <div>{{item.name}}</div>
                <div class="d-text">{{item.location}}</div>
              </template>
          </van-cell>
      </van-cell-group>
      <div v-else style="text-align:center;margin-top:20px">
          <span style="fontSize:12px;color:gray">您还没有在这个会议室预定会议</span>
      </div>
    
  </div>
</template>

<script>
import {getMeetingList,signMeeting} from '@/api'
import datetime from '@/utils/datetime'
import { Notify,Dialog } from 'vant';
export default {
    data(){
        return{
            roomId:NaN,
            currentMeetingList:[]
        }
    },
    mounted(){
        this.roomId = this.$route.query.rid
        this.initMeeting()
      
    },
    methods:{
        initMeeting(){
            getMeetingList({
                  selected: 'current',
                  mid:this.roomId
                }).then(resp => {
                  if (resp.status === 200) {
                    this.currentMeetingList = resp.data.meetingList
                    this.currentMeetingList.sort((a,b)=>{
                        return a.startTime - b.startTime
                    })
                    this.currentMeetingList.forEach(item=>{
                        
                        if(datetime.newDate(item.startTime).getDate()===datetime.newDate(Date.now()).getDate()){
                            let i = (Date.parse(datetime.newDate(item.startTime))-Date.parse(new Date()))/(60*1000)
                            if(i<=15 && i>=-10 ){
                               item.isTime = true
                            }else if(i<-10){
                                item.isOver = true
                            }
                        }
                    })
                  }
                })
        },
        SignMeeting(meeting){
            if(meeting.isSignIn&&meeting.isTime){
                Dialog.confirm({
                          message: '确定要结束该会议吗',
                        })
                          .then(() => {
                              signMeeting({meeting:meeting,type:'finshed'}).then(resp=>{
                                if(resp.status===200){
                                           Notify({type:'success',message:'已成功结束会议'})
                                           this.initMeeting()
                                           }
                                })          
                          })
                          .catch(() => {
                            // on cancel`
                          });
                
               
            }
            else{
                signMeeting({meeting:meeting,type:'sign'}).then(resp=>{
                if(resp.status===200){
                    Notify({type:'success',message:'签到成功'})
                    this.initMeeting()
                }
            })
            }
        }
    }
}
</script>

<style>
.d-text{
    color:#a3a4a6;
    
}
.d-header{
    text-align: center;
    padding: 12px 0;
    background-color: #fff;
    font-size:16px;
    font-weight: 800;
}
</style>