<template>
  <div class="page">
    <m-search v-model="name"></m-search>
    <div :class="[isFocus ? '': 'org-select-list', 'page-section']">
      <m-checklist :options="selectOptions" isVertical v-model="selectOrgs"></m-checklist>
    </div>
    <div class="page-section--org"></div>
    <m-navbar fixed pos="bottom">
      <div class="org-select-nav">
        <div class="org-select-scroll" v-scroll>
          <div class="org-select-scroll--wrapper">
            <div
              class="employe-select-scroll-item--wrapper"
              v-for="(org, index) in selectOrgs"
              :key="org.name"
            >
              <div class="org-select-scroll-item" @click="clearSelected(index)">
                <div class="org-select-scroll-item--clear">
                  <i class="iconfont icon-clear"></i>
                </div>
                <span class="org-select-scroll-item--content">{{ org.name }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="org-select-button" @click="confirm">确定</div>
      </div>
    </m-navbar>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { debounce } from '@/utils'
import { getOrgnazation, searchEmployeeList } from '@/api/index'
export default {
  name: 'org',
  beforeRouteUpdate(to, from, next) {
    this.orgId = to.query.id !== undefined ? to.query.id : 0
    this.setOrgnazation()
    next()
  },
  data() {
    return {
      isFocus: false,
      name: '',
      orgId: 0,
      orgs: [],
      selectOrgs: [],
      type: {
        DEPARTMENT: 'DEPARTMENT',
        EMPLOYEE: 'EMPLOYEE',
      },
      searchEmployeeList: [],
    }
  },
  computed: {
    ...mapGetters({
      currentSelectedOrgs: 'selectedOrgs',
    }),
    selectOptions() {
      return this.makeOptions()
    },
  },
  watch: {
    name(val) {
      // name 有值表示聚焦搜索
      if (val) {
        this.isFocus = true
        this.debounceSearch(val)
      } else {
        this.isFocus = false
      }
    },
    selectEmployee() {
      // 每次选项发生变化，都需要将focus状态取消掉
      if (this.isFocus) {
        this.name = ''
      }
    },
  },
  created() {
    this.selectOrgs = this.currentSelectedOrgs
  },
  mounted() {
    this.initOrgnazation()
  },
  methods: {
    ...mapMutations({
      SET_SELECT_ORG: 'SET_SELECT_ORG',
    }),
    initOrgnazation() {
      this.orgId = this.$route.query.id !== undefined ? this.$route.query.id : 0
      this.setOrgnazation()
    },
    setOrgnazation() {
      getOrgnazation({ departmentId: this.orgId }).then(resp => {
        if (resp.status === 200) {
          this.orgs = resp.data.orgnazation
        }
      })
    },
    makeOptions() {
      let options = []
      let orgs = []
      if (this.isFocus) {
        orgs = this.searchEmployeeList
      } else {
        orgs = this.orgs
      }
      for (let org of orgs) {
        options.push({
          label: org.name,
          value: org,
          imgUrl: org.avatar || '',
          link: org.type === this.type.DEPARTMENT ? '/org?id=' + org.id : '',
          checked: this.checkOptionStatus(org),
          disabled: this.disableOptionStatus(org),
        })
      }
      return options
    },
    isDepartment(type) {
      return type === this.type.DEPARTMENT
    },
    isEmployee(type) {
      return type === this.type.EMPLOYEE
    },
    checkOptionStatus(org) {
      // 检测选项状态
      let departmentIds = this.selectOrgs
        .filter(item => this.isDepartment(item.type))
        .map(item => item.id)
      let employeeIds = this.selectOrgs
        .filter(item => this.isEmployee(item.type))
        .map(item => item.id)

      if (this.isDepartment(org.type)) {
        return (
          departmentIds.includes(org.id) || departmentIds.includes(org.parentId)
        )
      } else {
        return (
          employeeIds.includes(org.id) ||
          departmentIds.includes(org.departmentId)
        )
      }
    },
    disableOptionStatus(org) {
      // 设置禁用状态
      let departmentIds = this.selectOrgs
        .filter(item => item.type === this.type.DEPARTMENT)
        .map(item => item.id)

      if (this.isDepartment(org.type) && departmentIds.includes(org.parentId)) {
        return true
      }

      if (
        this.isEmployee(org.type) &&
        departmentIds.includes(org.departmentId)
      ) {
        return true
      }
      return false
    },
    clearSelected(index) {
      // 清除选择的员工
      this.selectOrgs.splice(index, 1)
    },
    confirm() {
      this.SET_SELECT_ORG(this.selectOrgs)
      this.toBack()
    },
    search(name) {
      // 搜索员工, 并将符合条件的加入到显示列表中
      // console.log('search name: ', name)
      searchEmployeeList(name).then(resp => {
        this.searchEmployeeList = resp.data.orgnazation
      })
    },
    debounceSearch(name) {
      if (!name) {
        return
      }
      let search = debounce(this.search, 1000)
      search(name)
    },
  },
}
</script>

<style scoped>
.page-section--org {
  padding-bottom: 100px;
}

.org-select-nav {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: flex-start;
}

.org-select-scroll {
  position: relative;
  width: 80%;
  height: 48px;
  margin-right: 10px;
}

.org-select-scroll--wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 12px;
}

.employe-select-scroll-item--wrapper {
  margin-right: 10px;
}

.org-select-scroll-item {
  position: relative;
  min-width: 60px;
  height: 22px;
  padding: 2px 6px;
  border: 1px solid #26a2ff;
  border-radius: 2px;
  text-align: center;
}

.org-select-scroll-item--clear {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 100%;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 50%;
  background-color: white;
}

.org-select-scroll-item--content {
  white-space: nowrap;
}

.icon-clear {
  color: gray;
}

.org-select-button {
  width: 20%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #26a2ff;
  color: #fff;
}
</style>
