<template>
  <m-cell>
    <div class="meeting-employee-info">
      <div class="meeting-employee-info__content">
        <div>{{ employee.name }}</div>
        <div class="meeting-employee-info__content--role" v-show="role">{{ role }}</div>
      </div>
      <div class="meeting-employee-info--color">{{ status }}</div>
    </div>
  </m-cell>
</template>
<script>
export default {
  name: 'meeting-employee-info',
  props: {
    employee: {},
  },
  computed: {
    status() {
      let info = ['待接受', '接受', '请假']
      return info[this.employee.status]
    },
    role() {
      return this.employee.isOwner ? '发起人' : ''
    },
  },
}
</script>

<style scoped>
.meeting-employee-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: 20px;
}

.meeting-employee-info__content {
  display: flex;
}

.meeting-employee-info__content--role {
  margin-left: 5px;
  height: 20px;
  line-height: 16px;
  border: 1px solid gray;
  padding: 1px 10px;
  border-radius: 25px;
  font-size: 12px;
}

.meeting-employee-info__content--role,
.meeting-employee-info--color {
  color: gray;
}
</style>

