<template>
  <m-cell class="meeting-info">
    <a @click="toDetail" class="meeting-info__detail--href">
      <div class="meeting-info-content">
        <div class="meeting-info-content__date">
          <div class="meeting-info-content__date--content">{{ date }} {{ week }} {{ period }}</div>
          <div class="meeting-info-content__tag">{{ tag }}</div>
        </div>
        <div class="meeting-info-content__title mt-5">{{ meeting.name }}</div>
        <div class="meeting-info-content__location mt-5">{{ meeting.location }}</div>
        <div class="meeting-info-content__user mt-5">{{ meeting.owner }}</div>
      </div>
    </a>
  </m-cell>
</template>

<script>
export default {
  name: 'meeting-info',
  data() {
    return {
      weekList: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
      startTime: this.$dt.newDate(this.meeting.startTime),
      endTime: this.$dt.newDate(this.meeting.endTime),
    }
  },
  computed: {
    date() {
      return this.startTime.getMonth() + '月' + this.startTime.getDay() + '日'
    },
    week() {
      return this.weekList[this.startTime.getWeek() - 1]
    },
    period() {
      return this.startTime.getTime() + ' ~ ' + this.endTime.getTime()
    },
    tag() {
      let startTime = this.startTime.toString()
      let endTime = this.endTime.toString()
      let now = this.$dt.getNow()
      if (now > endTime) {
        return '已过期'
      } else if (now < endTime && now > startTime) {
        return '开会中'
      } else {
        return '待开会'
      }
    },
  },
  props: {
    meeting: Object, // 会议
  },
  methods: {
    toDetail() {
      this.$router.push({
        path: '/meeting/detail',
        query: {
          mid: this.meeting.id,
        },
      })
    },
  },
}
</script>
<style scope>
.meeting-info__detail--href {
  display: inline-block;
  width: 100%;
}

.meeting-info-content {
  width: 100%;
  padding: 10px;
}

.meeting-info-content__date {
  display: flex;
  justify-content: space-between;
}

.meeting-info-content__date--content {
  height: 22px;
  line-height: 22px;
}

.meeting-info-content__tag {
  height: 22px;
  line-height: 18px;
  border: 1px solid gray;
  padding: 1px 10px;
  border-radius: 25px;
  font-size: 12px;
}

.meeting-info-content__location,
.meeting-info-content__user,
.meeting-info-content__tag {
  color: gray;
}

.mt-5 {
  margin-top: 5px;
}
</style>
