<template>
  <div class="meeting-calendar">
    <div class="meeting-calendar__modal" @click="openModal">
      <div class="meeting-calendar--space">{{ currentValue }}</div>
      <div class="meeting-calendar--space" v-if="showWeek">{{ week }}</div>
    </div>
    <mt-popup v-model="isOpen" popup-transition="popup-fade" position="bottom">
      <div style="width: 100vw">
        <m-calendar v-model="date"></m-calendar>
      </div>
    </mt-popup>
  </div>
</template>
<script>
import valueMixin from '@/mixin/valueMixin'
export default {
  name: 'meeting-calendar-item',
  mixins: [valueMixin],
  props: {
    showWeek: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isOpen: false,
      date: this.value,
      weekList: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
      today: this.$dt.getToday(),
    }
  },
  computed: {
    week() {
      let w = this.$dt.newDate(this.currentValue).getWeek()
      return this.weekList[w - 1]
    },
  },
  methods: {
    openModal() {
      this.isOpen = true
    },
  },
  watch: {
    value(val) {
      this.date = val
    },
    date(val) {
      if (val) {
        if (val >= this.today) {
          this.isOpen = false
          this.currentValue = val
        } else {
          this.$toast({
            message: '不能预定过去的时间',
            duration: 1000,
          })
        }
      }
    },
  },
}
</script>
<style scoped>
.meeting-calendar__modal {
  display: flex;
}

.meeting-calendar--space {
  margin-right: 10px;
}
</style>
