<template>
  <div class="area-picker">
    <div @click="openModal" class="area-picker__header">
      {{ currentValue }}
      <div class="iconfont icon-down" style="margin-left: 5px;"></div>
    </div>
    <mt-popup v-model="isOpen" popup-transition="popup-fade" position="bottom">
      <div style="width: 100vw">
        <mt-picker :slots="pickerSlots" showToolbar @change="onValuesChange" ref="js_picker">
          <span @click="cancel">取消</span>
          <span @click="confirm">确定</span>
        </mt-picker>
      </div>
    </mt-popup>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'area-picker',
  data() {
    return {
      isOpen: false,
      pickerSlots: [],
      pickerValues: [],
      slotsIndex: 0,
      currentValue: '',
    }
  },
  computed: {
    ...mapGetters({
      areaList: 'areaList',
    }),
    ...mapActions({
      getAreaList: 'ActionGetAreaList',
    }),
  },
  props: {
    divider: {
      type: String,
      default: ' ',
    },
  },
  mounted() {
    this.initAreaList()
  },
  methods: {
    initAreaList() {
      if (this.areaList.length === 0) {
        this.setAreaListByAction()
      } else {
        this.setSlotsData()
        this.setDefaultCurrentValue()
      }
    },
    setDefaultCurrentValue() {
      this.$nextTick(() => {
        this.currentValue = this.getDefaultValues().join(this.divider)
        this.$emit('input', this.currentValue)
      })
    },
    openModal() {
      this.isOpen = true
    },
    onValuesChange(picker, values) {
      this.pickerValues = values
    },
    getDefaultValues() {
      // 获取默认值
      return this.$refs.js_picker.getValues()
    },
    getDefaultSlotsData() {
      return [
        {
          values: this.areaList.map(x => x.name),
        },
      ]
    },
    setSlotsData() {
      this.pickerSlots = this.getDefaultSlotsData()
    },
    cancel() {
      this.isOpen = false
    },
    confirm() {
      this.pickerValues = this.getDefaultValues()
      this.currentValue = this.pickerValues.join(this.divider)
      this.$emit('input', this.currentValue)
      this.isOpen = false
    },
    setAreaListByAction() {
      // 异步获取区域列表， 并在localStorage中缓存
      this.getAreaList.then(resp => {
        this.$cache.set('areaList', resp.areaList, 600)
        this.setSlotsData()
        this.setDefaultCurrentValue()
      })
    },
  },
}
</script>

<style scoped>
.area-picker {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}

.area-picker__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-picker__header > .arrow-bottom {
  margin-left: 10px;
  margin-top: -5px;
}

.picker-toolbar {
  border-bottom: 1px solid #eaeaea;
}

.picker-toolbar span {
  display: inline-block;
  width: 50vw;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
</style>
