<template>
  <div class="room-item" @click="toPage">
    <room-item-info :room="room" :date="date" hasSetting="true"></room-item-info>
    <room-item-time-block type="room" :room="room" :date="date" class="room-time-time-block--space"></room-item-time-block>
  </div>
</template>
<script>
import RoomItemInfo from './RoomItemInfo'
import RoomItemTimeBlock from './RoomItemTimeBlock'
export default {
  name: 'room-item',
  props: {
    room: {},
    date: String,
  },
  computed: {
    dateExpired() {
      return this.date < this.$dt.getToday()
    },
  },
  methods: {
    toPage() {
      if (this.dateExpired) {
        this.$toast({
          message: '不能创建过期的会议',
          duration: 1000,
        })
        return
      }
      this.$router.push({
        path: '/meeting/new',
        query: {
          roomId: this.room.id,
          date: this.date,
        },
      })
    },
  },
  components: {
    RoomItemInfo,
    RoomItemTimeBlock,
  },
}
</script>
<style scoped>
.room-item {
  margin-top: 10px;
  padding: 10px;
}

.room-time-time-block--space {
  margin-top: 5px;
}
</style>
