<template>
  <div class="room-item-time-block">
    <div class="room-item-time-block-scroll" v-scroll>
      <div class="room-item-time-block-scroll-item" v-for="(n, index) in timeList" :key="n">
        <div class="room-item-time-block-scroll-item-hour">{{ n }}</div>
        <div
          class="room-item-time-block-scroll-item-bar room-item-time-block-scroll-item-bar--width"
        >
          <template v-if="isSelect">
            <el-popover
              placement="top"
              width="200"
              trigger="click"
              :disabled="isDisabledPopper(n + ':00')"
              :tabindex="index"
              ref="popper-up"
            >
              <div class="popper-title">已被{{ popperValue.owner }}预订</div>
              <div class="popper-content">
                <div
                  class="popper-content__item"
                >时间: {{ popperValue.startTime }} ~ {{ popperValue.endTime}}</div>
                <div class="popper-content__item">用于: {{ popperValue.name }}</div>
              </div>
              <div class="popper-divider"></div>
              <div class="popper-footer" @click="closePopper('popper-up', index)">知道了</div>
              <div
                class="bar-item room-item-time-block-scroll-item-bar-up"
                :class="[isUsedBlockByTime(n + ':00'), isLargeBlock]"
                @click="onSelectTimeBar($event, n + ':00', index)"
                :data-time="n +':00'"
                ref="timeblock"
                slot="reference"
              ></div>
            </el-popover>
            <div class="room-item-time-block-scroll-item-bar-divider"></div>
            <el-popover
              placement="top"
              width="200"
              trigger="click"
              :disabled="isDisabledPopper(n + ':30')"
              :tabindex="index"
              ref="popper-down"
            >
              <div class="popper-title">已被{{ popperValue.owner }}预订</div>
              <div class="popper-content">
                <div
                  class="popper-content__item"
                >时间: {{ popperValue.startTime }} ~ {{ popperValue.endTime}}</div>
                <div class="popper-content__item">用于: {{ popperValue.name }}</div>
              </div>
              <div class="popper-divider"></div>
              <div class="popper-footer" @click="closePopper('popper-down', index)">知道了</div>
              <div
                class="bar-item room-item-time-block-scroll-item-bar-down"
                :class="[isUsedBlockByTime(n + ':30'), isLargeBlock]"
                @click="onSelectTimeBar($event, n + ':30', index)"
                :data-time="n+':30'"
                ref="timeblock"
                slot="reference"
              ></div>
            </el-popover>
          </template>
          <template v-else>
            <div
              class="room-item-time-block-scroll-item-bar-up"
              :class="isUsedBlockByTime(n + ':00')"
            ></div>
            <div class="room-item-time-block-scroll-item-bar-divider"></div>
            <div
              class="room-item-time-block-scroll-item-bar-down"
              :class="isUsedBlockByTime(n + ':30')"
            ></div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getMeetingInfo } from '@/api'
import popperMixin from '../mixins/popperMixin'
export default {
  name: 'room-item-time-block',
  mixins: [popperMixin],
  props: {
    room: {},
    date: String,
    isSelect: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
      validator: function(value) {
        return ['room', 'meeting'].includes(value)
      },
    },

    meetingId: Number,
    repeatId: {},
    st: String,
    et: String,
  },
  data() {
    return {
      currentRoom: this.room,
      startTime: '',
      endTime: '',
      selectTimeBlock: [], // 选择的时间段
      today: this.$dt.getToday(),
      nowTime: this.$dt.getNowTime(),
      barStyle: {
        used: 'room-item-time-block-scroll-item-bar--used', //已使用
        disabled: 'room-item-time-block-scroll-item-bar--disabled', //禁用
        select: 'room-item-time-block-scroll-item-bar--select', // 选择
        default: '',
      },
    }
  },
  watch: {
    room(val) {
      if (val) {
        this.currentRoom = val
      }
    },
    st(val) {
      this.startTime = val
    },
    et(val) {
      let timeBlockList = this.getTimeBlockList()
      let index = timeBlockList.indexOf(val)
      if (index !== -1) {
        this.endTime = timeBlockList[index - 1]
      } else {
        this.endTime = val
      }
    },
  },
  updated: function() {
    this.$nextTick(function() {
      this.refreshTimeBlock()
    })
  },
  methods: {
    isDisabledPopper(time) {
      // 是否是禁用的popper
      if (this.canUseTime(time)) {
        // 如果当前时间是可选的时间， 不显示会议信息
        return true
      } else {
        // 相反则显示
        return false
      }
    },
    getTimeBlockList() {
      let startHour = this.currentRoom.startHour
      let endHour = this.currentRoom.endHour
      let result = []
      for (let i = startHour; i <= endHour; i++) {
        result.push(i + ':00')
        result.push(i + ':30')
      }
      return result
    },
    refreshTimeBlock() {
      // 切换日期， 强制刷新页面样式
      let timeBlockList = this.$refs.timeblock || []
      for (let item of timeBlockList) {
        let time = item.dataset.time
        let barStyle = this.isUsedBlockByTime(time)
        this.setBarStyle(item, barStyle)
      }
    },
    setBarStyle(item, barStyle) {
      // 设置样式
      if (!item.classList.contains(barStyle) && barStyle) {
        item.classList.add(barStyle)
      }
      for (let i in this.barStyle) {
        let style = this.barStyle[i]
        if (style !== barStyle && item.classList.contains(style)) {
          item.classList.remove(style)
        }
      }
    },
    canUseTime(time) {
      // 判断该时间段是否可被选择
      let room = this.currentRoom
      let id = room.frames[time].id
      let status = room.frames[time].status
      let repeatId = room.frames[time].repeatId

      if (status === 'E') {
        // 编辑， 当前时间正好属于改会议， 允许使用时间
        if (this.meetingId && this.meetingId === id) {
          return true
        }
        // 序列编辑且，当前时间恰好是属于该序列会议, 则允许使用时间
        if (this.repeatId && repeatId && this.repeatId === repeatId) {
          return true
        }

        return false
      } else {
        return true
      }
    },
    isUsedBlockByTime(time) {
      // 判断该时间段是否已使用
      let room = this.currentRoom
      let barStatusClass = this.barStyle.default
      if (this.today > this.date) {
        barStatusClass = this.barStyle.disabled
      } else if (this.today === this.date) {
        if (this.compareGreaterTime(this.nowTime, time)) {
          barStatusClass = this.barStyle.disabled
        }
      }
      // 判断是否是当前的会议， 如果是则不显示
      if (room.frames[time].status === 'E') {
        if (room.frames[time].id && room.frames[time].id === this.meetingId) {
          return this.barStyle.select
        }
        // 如果是重复id
        if (
          room.frames[time].repeatId &&
          this.repeatId &&
          room.frames[time].repeatId === this.repeatId
        ) {
          return this.barStyle.select
        }
        return this.barStyle.used
      } else {
        return barStatusClass
      }
    },
    isDisabledBlock(target) {
      let classList = target.classList
      if (
        !classList.contains('room-item-time-block-scroll-item-bar--used') &&
        !classList.contains('room-item-time-block-scroll-item-bar--disabled')
      ) {
        return false
      } else {
        return true
      }
    },
    onSelectTimeBar(event, time, popperRef, tabindex = -1) {
      // 处理选择的时间段
      let classList = event.target.classList
      // 当前时间段是可选择的
      if (!this.isDisabledBlock(event.target)) {
        if (!this.startTime) {
          this.startTime = time
          this.endTime = time
          classList.add(this.barStyle.select)
        } else {
          if (this.startTime === time) {
            this.clearTimeBlockArr()
          } else {
            if (this.compareGreaterTime(this.startTime, time)) {
              this.startTime = time
            } else if (this.endTime === time) {
              let index = this.timeBlockList.indexOf(time)
              if (index !== 0) {
                this.endTime = this.timeBlockList[index - 1]
              } else {
                this.endTime = time
              }
            } else {
              this.endTime = time
            }
          }
        }
        this.setTimeBlockArr()
        this.$emit('selectTimeBlock', this.selectTimeBlock)
      } else {
        let room = this.currentRoom
        let mid = room.frames[time].id
        getMeetingInfo(mid).then(resp => {
          if (resp.status === 200) {
            let data = resp.data.info
            this.popperValue = data
          } else {
            this.closePopper(popperRef, tabindex)
          }
        })
      }
    },
    getTimeBlockArr() {
      // 获取选择的时间块
      let result = []
      let timeBlockArr = []
      // 获取时间段数组
      for (let time of this.timeBlockList) {
        if (
          this.compareGreaterTime(time, this.startTime) &&
          this.compareGreaterTime(this.endTime, time)
        ) {
          timeBlockArr.push(time)
        }
      }
      for (let time of timeBlockArr) {
        if (this.canUseTime(time)) {
          result.push(time)
        } else {
          break
        }
      }

      return result
    },
    setTimeBlockArr() {
      // 通过开始和结束时间， 获取时间段的数组
      let newTimeBlock = this.getTimeBlockArr()
      let timeBlockList = this.$refs.timeblock || []
      for (let item of timeBlockList) {
        let time = item.dataset.time
        if (newTimeBlock.includes(time)) {
          if (!item.classList.contains(this.barStyle.select)) {
            item.classList.add(this.barStyle.select)
          }
        } else {
          if (item.classList.contains(this.barStyle.select)) {
            item.classList.remove(this.barStyle.select)
          }
        }
      }
      this.selectTimeBlock = newTimeBlock
    },
    clearTimeBlockArr() {
      let timeBlockList = this.$refs.timeblock || []

      for (let item of timeBlockList) {
        let time = item.dataset.time
        if (this.selectTimeBlock.includes(time)) {
          if (item.classList.contains(this.barStyle.select)) {
            item.classList.remove(this.barStyle.select)
          }
        }
      }
      this.startTime = ''
      this.endTime = ''
      this.selectTimeBlock = []
    },
    compareGreaterTime(a, b) {
      // 比较时间
      if (a.length > b.length) {
        return true
      } else if (a.length == b.length) {
        return a >= b
      } else {
        return false
      }
    },
  },
  computed: {
    timeList() {
      // 获取列表
      let startHour = this.currentRoom.startHour
      let endHour = this.currentRoom.endHour
      let result = []
      for (let i = startHour; i <= endHour; i++) {
        result.push(i)
      }
      return result
    },
    timeBlockList() {
      // 获取列表
      return this.getTimeBlockList()
    },
    isLargeBlock() {
      return this.type === 'meeting'
        ? 'room-item-time-block-scroll-item-bar__large'
        : ''
    },
  },
}
</script>

<style scoped>
.room-item-time-block {
  display: flex;
  align-items: center;
  position: relative;
}

.room-item-time-block-scroll {
  display: flex;
}

.room-item-time-block-scroll-item {
  margin-right: 10px;
}
.room-item-time-block-scroll-item-hour {
  text-align: center;
}

.room-item-time-block-scroll-item-bar {
  margin-top: 2px;
  background-color: #e2e2e2;
}

.room-item-time-block-scroll-item-bar--width {
  width: 30px;
}

.room-item-time-block-scroll-item-bar-up {
  height: 30px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.room-item-time-block-scroll-item-bar-divider {
  border-bottom: 2px solid #fff;
}

.room-item-time-block-scroll-item-bar-down {
  height: 30px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.room-item-time-block-scroll-item-bar__large {
  height: 50px;
}

.room-item-time-block-scroll-item-bar--used {
  background-color: #0fc37c;
}

.room-item-time-block-scroll-item-bar--select {
  background-color: #2399f0;
}

.room-item-time-block-scroll-item-bar--disabled {
  background: linear-gradient(
    -45deg,
    #e2e2e2 25%,
    #f2f2f2 0,
    #f2f2f2 50%,
    #e2e2e2 0,
    #e2e2e2 75%,
    #f2f2f2 0
  );
  background-size: 6px 6px;
}

.popper-title {
  text-align: center;
  font-weight: bold;
}

.popper-content__item {
  margin-top: 5px;
}

.popper-divider {
  border-bottom: 1px solid #e2e2e2;
  margin: 10px 0;
}
.popper-footer {
  text-align: center;
  color: #26a2ff;
}
</style>
