<template>
  <div class="room-item-info">
    <div class="room-item-info-img"></div>
    <div class="room-item-info-content">
      <div>{{ room.name }}</div>
      <div class="room-item-info-content-device">
        <span class="room-item-info-content-device-item">{{ room.capacity }}人</span>
        <span
          class="room-item-info-content-device-item"
          v-for="(device) in room.devices"
          :key="device.id"
        >{{ device.name }}</span>
      </div>
    </div>
    <div style="flex:10;text-align:right">
      <van-button color="black" size="mini" style="font-size:12px;font-weight:500" round plain @click.stop="showImage">会议室导航图</van-button>
    </div>
  </div>
</template>
<script>
import {ImagePreview} from 'vant'
export default {
  name: 'room-item-info',
  props: {
    room: {},
  },
  methods:{
    showImage(){
      let miniMapUrl = 'http://admin.oaloft.com/api/v1/app/meetings/map?rId='+this.room.id
      ImagePreview({
        images:[miniMapUrl],
        closeable:true
      });
    }
  }
}
</script>

<style scoped>
.room-item-info {
  display: flex;
  position: relative;
  align-items: center;
}

.ma-room-info {
  display: flex;
  flex-direction: column;
}

.room-item-info-img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  background-image: url('../../../assets/img/Meeting.png');
  background-size: 48px;
}

.room-item-info-content-device {
  margin-top: 5px;
}

.room-item-info-content-device-item {
  margin-right: 5px;
  padding: 2px 5px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-size: 0.8rem;
  color: gray;
}

.room-item-info-content-setting {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 10px;
}

.icon-setting {
  font-size: 20px;
  color: #b2b2b2;
}
</style>
