<template>
  <div class="room-filter">
    <div @click="openModal" class="room-filter__header">
      <!-- 这里需要添加筛选icon 暂时使用会议室标签代替-->
      <div class="iconfont icon-meeting" style="margin-right: 2px;"></div>
      筛选会议室
      <div class="iconfont icon-down" style="margin-left: 2px;"></div>
      <div class="room-filter-order-can" style="right: 180px;"></div><div class="room-filter-order-font" style="right: 140px;">可预约</div>
      <div class="room-filter-order-used" style="right: 115px;"></div><div class="room-filter-order-font" style="right: 75px;">已预约</div>
      <div class="room-filter-order-disabled" style="right: 50px;"></div><div class="room-filter-order-font" style="right: 10px;">不可约</div>
    </div>
    <mt-popup v-model="isOpen" popup-transition="popup-fade" position="bottom">
      <div class="room-popup-head">筛选会议室</div>
      <div style="text-align:left;margin-left: 10px;">会议室名称</div>
      <van-search background="#e2e2e2"  v-model="serachKey" placeholder="请输入搜索关键词" />
      <div style="text-align:left;margin-left: 10px;">预约时间</div>
      <div >
        <van-button type="primary" size="mini" color="#e2e2e2" style="margin-right:40px;width:70px;height:38px;font-size:13px" @click="showPicker = true" >{{startTime?startTime:"开始时间"}}</van-button>
        <span >至</span>
        <van-button type="primary" size="mini" color="#e2e2e2" style="margin-left:40px;width:70px;height:38px;font-size:13px" @click="showEndPicker = true" >{{endTime?endTime:"结束时间"}}</van-button>
      </div>
      <div style="text-align:left;margin-left: 10px;">设备要求</div>
      <!-- 设备列表显示 -->
      <div class="room-popup-box-father">
        <span v-for="(device) in deviceList"
        :class="{'room-popup-box-child':true,'room-popup-box-child-change':showCheckClass[device.id - 1]}" 
        @click="checkChangeClass(device.id - 1)" 
        :key = device.id
        >
        {{ device.name }}
        </span>
      </div>
      <div style="text-align:left;margin-left: 10px;">参会人数</div>
      <!-- 人数显示 -->
      <div class="room-popup-box-father">
        <span v-for="(peopleNumber,i) in peopleNumberList" 
        :class="{'room-popup-box-child':true,'room-popup-box-child-change':showRadioClass[i]}" 
        @click="radioChangeClass(i)" 
        :key=i
        >
        {{ peopleNumber }}
        </span>
      </div>
      <div style="text-align:left;margin-left: 10px;">会议室状态</div>
      <van-checkbox-group v-model="radio" direction="horizontal" class="radio">
        <van-checkbox name="1" shape="square">可预约</van-checkbox>
        <van-checkbox name="2" shape="square">不可预约</van-checkbox>
      </van-checkbox-group>
      <div class="room-popup-button-father">
        <div class="room-popup-button-child" style="color: rgb(74, 173, 243);" @click="reset">重置</div>
        <div class="room-popup-button-child" style="background-color: rgb(74, 173, 243);color: #fff;" @click="pick">筛选</div>
      </div>
    </mt-popup>
    <van-popup v-model="showPicker" position="bottom" style="z-index:99">
        <van-datetime-picker
          :value="sxStratTime"
          @confirm="onConfirm"
          @cancel="showPicker=false"
          type="datetime"
          title="选择年月日小时"
          :min-date="minDate"
          :max-date="maxDate"
          :filter="filter"
        />
      </van-popup>
      <van-popup v-model="showEndPicker" position="bottom" style="z-index:99">
        <van-datetime-picker
          :value="sxEndTime"
          @confirm="onEndConfirm"
          @cancel="showEndPicker=false"
          type="datetime"
          title="选择年月日小时"
          :min-date="minDate"
          :max-date="maxDate"
          :filter="filter"
        />
      </van-popup>
  </div>
</template>
<script>
import { getDeviceList } from '@/api'
import { MessageBox } from 'mint-ui';
import { getAreaRoomList } from '@/api'
import searchVue from '../../../components/search.vue';
import { List } from 'vant';
export default {
  name: 'room-picker',

  data() {
    return {
      isOpen: false,
      peopleNumberList: ['1~5','6~10','11~20','大于20'],
      showRadioClass: [false,false,false,false],
      deviceList: [],
      showCheckClass: [],
      serachKey:'',
      showPicker:false,
      sxStratTime:'',
      minDate: new Date(),
      showEndPicker:false,
      sxEndTime:'',
      radio:[],
      timeRange:['10:00']
    }
  },
  computed:{
    startTime(){
      if(!this.sxStratTime){
        return ''
      }
      let Str=this.sxStratTime.getFullYear() + '-' +
        (this.sxStratTime.getMonth() + 1) + '-' + 
        this.sxStratTime.getDate() + ' ' + 
        this.sxStratTime.getHours() + ':' + 
        this.sxStratTime.getMinutes()
      return Str
    },
    endTime(){
      if(!this.sxEndTime){
        return ''
      }
      let Str=this.sxEndTime.getFullYear() + '-' +
        (this.sxEndTime.getMonth() + 1) + '-' + 
        this.sxEndTime.getDate() + ' ' + 
        this.sxEndTime.getHours() + ':' + 
        this.sxEndTime.getMinutes()
      return Str
    },
    maxDate(){
      let year = this.minDate.getFullYear()
      let Month = this.minDate.getMonth()
      let day = this.minDate.getDate()+7
      return new Date(year,Month,day)
    }
  },
  props: {
    roomList: {},
    area:{}
  },

  created: function(){
    this.addArray()
  },
  watch: {
    value(val) {
      this.currentValue = val
    },
    currentValue(val) {
      this.$emit('input', val)
    }
  },
  
  methods: {
    filter(type, options) {
      if (type === 'minute') {
        return options.filter((option) => option % 30 === 0);
      }
      return options;
    },
    onConfirm(date){
      //确认时间
      this.sxStratTime = date
      this.showPicker = false
    },
    onEndConfirm(date){
      this.sxEndTime = date
      this.showEndPicker = false
    },
    addArray(){//创建设备状态列表check
      this.setDeviceList()
      for(let i=0; i < this.deviceList.length; i++){
        this.showCheckClass.push(false)
      }
    },

    setDeviceList() {//获取设备列表
      getDeviceList({}).then(resp =>{
        if (resp.status == 200) {
          this.deviceList = resp.data.devices
        }
      })
    },

    openModal() {//列表状态
      this.isOpen = true
    },

    checkChangeClass(index) {//设备选择
      let a = []
      this.showCheckClass[index] = !this.showCheckClass[index]
      this.showCheckClass = a.concat(this.showCheckClass)
    },

    radioChangeClass(index) {//人数选择
      if(this.showRadioClass[index]){
        let a = []
        this.showRadioClass[index] = false
        this.showRadioClass = a.concat(this.showRadioClass)
      }else{
        this.showRadioClass = [false,false,false,false]
        this.showRadioClass[index] = true
      }
    },

    reset() {//重置
      this.sxStratTime = ''
      this.sxEndTime = ''
      this.radio = []
      for(let i=0; i < this.deviceList.length; i++){
        this.showCheckClass[i] = false
      }
      this.showRadioClass = [false,false,false,false]
      this.st
    },

    getPeopleNumberIndex(){//获取参会人数筛选条件的Index
      let peopleNumberIndex = -1
      for(let i=0; i < this.showRadioClass.length; i++){
        if(this.showRadioClass[i]){
          peopleNumberIndex = i
          break
        }
      }
      return peopleNumberIndex
    },

    getPeopleNumberMinByIndex(Index){//通过Index获取参会人数最小值
      switch(Index){
        case 0:
          return 1
        case 1:
          return 6
        case 2:
          return 11
        case 3:
          return 21
      }
    },

    getPeopleNumberMaxByIndex(Index){//通过Index获取参会人数最大值
      switch(Index){
        case 0:
          return 5
        case 1:
          return 10
        case 2:
          return 20
        case 3:
          return 1000
      }
    },
    
    getOkPeopleNumberRoomList(peopleNumberMin,peopleNumberMax){//获得满足参会人数条件的会议室列表
      let roomTemp = []
      for(let i = 0; i < this.roomList.length; i++){
        if(this.roomList[i].capacity >= peopleNumberMin && this.roomList[i].capacity <= peopleNumberMax){
          roomTemp.push(this.roomList[i])
        }
      }
      return roomTemp
    },

    getOkDevicesRoomList(roomTemp,type){//获取满足设备条件的会议室列表
      if(type==='t'){
        for(let i = 0; i < this.showCheckClass.length; i++){
        if(this.showCheckClass[i]){
          for(let j = roomTemp.length - 1; j >= 0; j--){
            let isHave = false
            for(let k = 0; k < roomTemp[j].devices.length; k++){
              if(roomTemp[j].devices[k].id == i + 1){
                isHave = true
              }
            }
            if(!isHave){
              roomTemp.pop(roomTemp[j])
            }
          }
        }
      }
      return roomTemp
      }else{
        let result = []
        for(let i = 0; i < this.showCheckClass.length; i++){
        if(this.showCheckClass[i]){
          for(let j = roomTemp.length - 1; j >= 0; j--){
            let isHave = false
            for(let k = 0; k < roomTemp[j].devices.length; k++){
              if(roomTemp[j].devices[k].id == i + 1){
                result.push(roomTemp[j])
              }
            }
          }
        }
      }
      return result
      }
    },
    getOkSerachRoomList(serachKey){
      //获取搜素条件的会议室列表
      let serachArr = []
      for(let i = 0; i < this.roomList.length; i++){
        let re = new RegExp(serachKey)
        if(this.roomList[i].name.match(re) && this.roomList[i].name.match(re).length>0){
          serachArr.push(this.roomList[i])
        }
      }
      return serachArr
    },
    messageAlert(str){//弹出提示框
      return MessageBox.alert('<font color="#000">'+str+'</font>')
    },
    timeFormat(time){
      let Str=time.getFullYear() + '-' +
        (time.getMonth() + 1) + '-' + 
        time.getDate() + ' ' + 
        time.getHours() + ':' + 
        time.getMinutes()
      return Str
    },
    async getTimeRoomList(start,end){
      let serachArr = []
      let roomList = []
      //获取7天会议室范围
      let startTime = this.startTime.split(' ')[1]
      let endTime = this.endTime.split(' ')[1]
      let startTimeDate = new Date(this.startTime.split(' ')[0].split('-')[0],this.startTime.split(' ')[0].split('-')[1],this.startTime.split(' ')[0].split('-')[2])
      let endTimeDate = new Date(this.endTime.split(' ')[0].split('-')[0],this.endTime.split(' ')[0].split('-')[1],this.endTime.split(' ')[0].split('-')[2])
      let day = (endTimeDate-startTimeDate)/(24*3600)/1000
      if(new Date(this.endTime)-new Date(this.startTime)<0){
        this.messageAlert("结束时间小于开始时间")
      }
      let indexDate = new Date(this.startTime.split(' ')[0]).getTime()
      for(let i=0;i<=day;i++){
        let cStartTime = ''
        if (i===0){
          if(startTime.split(':')[1]!=='30' || startTime.split(":")!=='00'){
            cStartTime= startTime.split(':')[0]+':00'
          }
        }else{
          cStartTime='8:00'
        }
        let currentTime = new Date(indexDate)
        let date = currentTime.getFullYear()+'-'+(currentTime.getMonth()+1)+'-'+currentTime.getDate()
        let result = (await getAreaRoomList({name:this.area,date:date})).data.roomList
        result.forEach(item=>{
          let index = false
          for(let key in item.frames){
            if(key===cStartTime){
              index= true
            }
            if(index){
              if(item.frames[key].status!=='N'){
                serachArr.push(item.id)
              }
            }
            if(key===endTime){
              break
            }
          }
        })
        indexDate+=24*3600*1000
      }
      console.log(this.radio)
      if(this.radio.includes("1") && this.radio.includes("2")){
          this.$emit('handle',this.roomList)
        }else if (this.radio.includes("1") || this.radio.length===0){
        this.roomList.forEach(item=>{
        if(item){
          if(!serachArr.includes(item.id)){
            // console.log(item)
            roomList.push(item)
          }
        }
      })
      this.$emit('handle', roomList)
      }else if(this.radio.includes("2")){
        this.roomList.forEach(item=>{
        if(item){
          if(serachArr.includes(item.id)){
            //  console.log(item,123)
            roomList.push(item)
          }
        }
      })
      this.$emit('handle', roomList)
      }
      
      
    },
    pick() {// 筛选会议室
      let index = this.getPeopleNumberIndex()
      this.getTimeRoomList()
      if(this.startTime && !this.endTime){
        this.messageAlert("请选择结束时间")
        return
      }
      if(this.serachKey){
        let okRoomList = this.getOkSerachRoomList(this.serachKey)
        if(okRoomList.length == 0){
          this.messageAlert("没有找到您所需的会议室")
        }else{
          this.$emit('handle', okRoomList)
          this.isOpen = false
        }
      }else{
        if(index == -1){
          if(this.showCheckClass.length!==0){
            let okRoomList = this.getOkDevicesRoomList(this.roomList,'a')
            if(okRoomList.length!==0){
              this.$emit('handle', okRoomList)
              this.isOpen = false
              return
            }else{
               this.messageAlert("没有找到您所需的会议室")
            }
          }
        this.$emit('handle', this.roomList)
        this.isOpen = false
        return
      }
      let peopleNumberMin = this.getPeopleNumberMinByIndex(index)
      let peopleNumberMax = this.getPeopleNumberMaxByIndex(index)
      let okPeopleNumberRoomList = this.getOkPeopleNumberRoomList(peopleNumberMin,peopleNumberMax)
      if(okPeopleNumberRoomList.length > 0){
        let okRoomList = this.getOkDevicesRoomList(okPeopleNumberRoomList,'t')
        if(okRoomList.length == 0){
          this.messageAlert("没有找到您所需的会议室")
        }else{
          this.$emit('handle', okRoomList)
          this.isOpen = false
        }
      }else{
        this.messageAlert("没有找到您所需的会议室")
      }
      }
    },
  },
}
</script>

<style scoped>
.room-filter {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}

.room-filter__header {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: left;
}

.room-filter-order-can{
  position:absolute;
  background-color: #e2e2e2;
  border:1px solid #000;
  right: 1px;
  width:12px;
  height:12px;
}

.room-filter-order-used{
  position:absolute;
  background-color: #0fc37c;
  border:1px solid #000;
  width:12px;
  height:12px;
}

.room-filter-order-disabled{
  position:absolute;
  background-color: #e2e2e2;
  border:1px solid #000;
  width:12px;
  height:12px;
  background: linear-gradient(
    -45deg,
    #e2e2e2 25%,
    #f2f2f2 0,
    #f2f2f2 50%,
    #e2e2e2 0,
    #e2e2e2 75%,
    #f2f2f2 0
  );
  background-size: 4px 4px;
}

.room-filter-order-font{
  position:absolute;
  color: rgb(73, 73, 73);
  font-size: 12px;
}

.room-popup-head{
  border-bottom: 1px solid rgb(199, 199, 199);
  font-weight:bold;
  font-size: 15px;
}

.room-popup-box-father{
  display: inline-block;
  margin-left: 15px;
}

.room-popup-box-child {
  display: inline-block;
  width: 70px;
  background-color: #e2e2e2;
  margin-right: 15px;
  margin-bottom: 12px;
  padding: 0px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

.room-popup-box-child-change {
  border: 1px solid rgb(74, 173, 243);
  color: rgb(74, 173, 243);
}

.room-popup-button-father{
  width: 100vw;
  display: flex;
  border-top: 1px solid rgb(199, 199, 199);
}

.room-popup-button-child{
  width:50%;
  text-align:center;
  font-size: 16px;
}
.van-search{
  padding:0 !important
}
.van-button{
  color:black !important;
  vertical-align: top;
  position: relative;
}
.radio{
  position:relative;
  left: 50%;
  transform: translateX(-80px);
  margin-bottom:20px;
}
</style>
