<template>
  <div class="m-field">
    <div class="m-field-label" :style="{width: labelWidth}" :class="[labelPosition, labelColor]">
      <span class="m-field-label--size">{{ label }}</span>
    </div>

    <template v-if="type === 'textarea'">
      <div class="m-field-content--large m-field-cotnent--space">
        <textarea
          class="m-field-content__textarea m-field-content__textarea--text"
          :placeholder="placehodler"
          v-model="currentValue"
          rows="4"
        ></textarea>
      </div>
    </template>

    <template v-else-if="type === 'collapse'">
      <div class="m-field-content" @click="changeShow">
        <div class="m-field-content-show" v-show="!isShow">
          <div class="iconfont icon-down"></div>
        </div>
        <div class="m-field-content-hide" v-show="isShow">
          <div class="iconfont icon-up"></div>
        </div>
      </div>
    </template>

    <template v-else-if="type === 'link'">
      <div class="m-field-content" @click="toLink(currentValue)">
        <div class="m-field-content-href">
          <div class="iconfont icon-right"></div>
        </div>
      </div>
    </template>

    <template v-else-if="type === 'readonly'">
      <div class="m-field-content">
        <span class="m-field-content__input--readonly" v-if="currentValue">{{ currentValue }}</span>
      </div>
    </template>

    <template v-else-if="type === 'picker'">
      <div class="m-field-content">
        <m-picker :slots="slots" v-model="currentValue"></m-picker>
        <div class="m-field-content-show">
          <div class="iconfont icon-right"></div>
        </div>
      </div>
    </template>

    <template v-else>
      <div class="m-field-content">
        <input
          type="text"
          class="m-field-content__input"
          :placeholder="placehodler"
          v-model="currentValue"
        />
        <div class="m-field-content--clear" v-show="currentValue" @click="clearValue">
          <i class="iconfont icon-clear"></i>
        </div>
      </div>
    </template>

    <div class="m-field-right">
      <slot></slot>
    </div>
  </div>
</template>
<script>
import valueMixin from '@/mixin/valueMixin'
import MPicker from './picker'
export default {
  name: 'm-field',
  components: {
    MPicker,
  },
  mixins: [valueMixin],
  props: {
    label: {
      type: String,
      required: true,
    },
    labelWidth: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
      validator: function(value) {
        return [
          'text',
          'textarea',
          'collapse',
          'link',
          'readonly',
          'picker',
        ].includes(value)
      },
    },
    slots: {},
    placehodler: {
      type: String,
      default: '请输入...',
    },
  },
  data() {
    return {
      isShow: false,
    }
  },
  computed: {
    labelPosition() {
      return this.type === 'textarea' ? 'm-field-label--position-top' : ''
    },
    labelColor() {
      return this.type === 'readonly' ? 'm-field-label--color-gray' : ''
    },
  },
  methods: {
    clearValue() {
      this.currentValue = ''
    },
    changeShow() {
      this.isShow = !this.isShow
      this.$emit('input', this.isShow)
    },
  },
}
</script>
<style scoped>
.m-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 42px;
  padding: 0 10px;
}

.m-field-label {
  min-width: 54px;
  flex: 0 0 auto;
}

.m-field-label--position-top {
  align-self: flex-start;
  margin-top: 10px;
}

.m-field-label--color-gray {
  color: gray;
}

.m-field-label--size {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
}
.m-field-content {
  display: flex;
  width: 100%;
  height: 42px;
}

.m-field-content--large {
  display: flex;
  width: 100%;
}

.m-field-cotnent--space {
  padding: 10px 0;
}

.m-field-content__textarea,
.m-field-content__input,
.m-field-content__input--readonly {
  width: 100%;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  line-height: 22px;
  font-size: 16px;
}

.m-field-content__input--readonly {
  line-height: 42px;
}

.m-field-content__input {
  line-height: 42px;
  -webkit-appearance: none;
  vertical-align: middle;
  line-height: normal;
}

.m-field-content__textarea--text {
  resize: none;
}

.m-field-content-show,
.m-field-content-hide,
.m-field-content-href {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  top: 0;
  left: 90%;
  margin-top: 5px;
}

.m-field-content--clear {
  opacity: 0.2;
  line-height: 42px;
}

.icon-clear {
  font-size: 22px;
}
</style>
