<template>
  <div class="m-picker">
    <div class="m-picker__modal" @click="openModal">
      <span class="m-picker__text">{{ currentValue}}</span>
    </div>
    <mt-popup v-model="isOpen" popup-transition="popup-fade" position="bottom">
      <div style="width: 100vw">
        <mt-picker :slots="slots" showToolbar @change="onValuesChange" ref="picker">
          <span @click="cancel">取消</span>
          <span @click="confirm">确定</span>
        </mt-picker>
      </div>
    </mt-popup>
  </div>
</template>
<script>
export default {
  name: 'm-picker',
  props: {
    slots: {},
    value: {},
  },
  data() {
    return {
      isOpen: false,
      pickerValues: [],
      currentValue: '',
    }
  },
  watch: {
    value(val) {
      this.currentValue = val
    },
  },
  mounted() {
    this.currentValue = this.value
  },
  methods: {
    openModal() {
      this.isOpen = true
    },
    onValuesChange(picker, values) {
      // 切换变量
      this.pickerValues = values
    },
    getDefaultValues() {
      // 获取默认值
      return this.$refs.picker.getValues()
    },
    confirm() {
      if (this.pickerValues.length === 0) {
        this.pickerValues = this.getDefaultValues()
      }
      this.currentValue = this.pickerValues.join()
      this.$emit('input', this.currentValue)
      this.isOpen = false
    },
    cancel() {
      this.isOpen = false
    },
  },
}
</script>
<style scoped>
.m-picker {
  position: relative;
  width: inherit;
}
.m-picker__modal {
  position: absolute;
  width: 100%;
  height: 42px;
  z-index: 1;
}

.m-picker__text {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

.picker-toolbar span {
  display: inline-block;
  width: 50vw;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
</style>
