@media screen and (min-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 14.0625px;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

a,
div,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: #e2e2e2;
  margin: 0;
}

.page {
  height: 100%;
  background-color: #e2e2e2;
  font-family: Helvetica, Tahoma, 'Microsoft YaHei', '黑体', '宋体', sans-serif;
}

.theme-color {
  color: #26a2ff;
}

.page-section {
  background-color: #fff;
}

.page-section--space {
  margin-top: 10px;
}

.divider {
  background-image: linear-gradient(
    180deg,
    #d9d9d9,
    #d9d9d9 50%,
    transparent 50%
  );
  background-repeat: no-repeat;
  background-size: 120% 1px;
}

.bg-stripe {
  background: linear-gradient(
    -45deg,
    #e2e2e2 25%,
    #f2f2f2 0,
    #f2f2f2 50%,
    #e2e2e2 0,
    #e2e2e2 75%,
    #f2f2f2 0
  );
  background-size: 6px 6px;
}

.icon-up,
.icon-left,
.icon-right,
.icon-down {
  color: gray;
}
