<template>
  <div class="m-calendar">
    <div class="m-calendar__header">
      <div class="m-calendar__header--left" @click="onPrevMonth">
        <div class="iconfont icon-left"></div>
      </div>
      <div class="m-calendar__header--center" @click="onCurrentMonth">{{ currentMonth }}</div>
      <div class="m-calendar__header--right" @click="onNextMonth">
        <div class="iconfont icon-right"></div>
      </div>
    </div>
    <div class="m-calendar__content">
      <div class="m-calendar__content-weeks">
        <div class="m-calendar__content-box" v-for="week in weeks" :key="week">{{ week }}</div>
      </div>
      <div class="m-calendar__content-days">
        <div
          class="m-calendar__content-box"
          v-for="day in days"
          :key="day.id"
          :class="getStyle(day)"
          @click="onChoiceDay(day.id)"
        >
          <div class="m-calendar__content-days-item" ref="day" :data-value="day.id">{{ day.value }}</div>
        </div>
      </div>
    </div>
    <div class="m-calendar__fold" v-show="fold">
      <div class="m-calendar__fold-wrapper" @click="onFold">
        <div :class="isFold ? 'iconfont icon-down' : 'iconfont icon-up'"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'm-calendar',
  props: {
    fold: {
      type: Boolean,
      default: false,
    },
    value: {
      type: String,
      default: '',
    },
    fmt: {
      type: String,
      default: 'YYYY年MM月',
    },
  },
  data() {
    return {
      isFold: this.fold,
      currentValue: this.value || this.$dt.getToday(), // 当前日期字符串
      currentMonth: '',
      weeks: ['一', '二', '三', '四', '五', '六', '日'],
      weekIdx: 0,
      days: [],
      date: '', // 日期, 日期格式
    }
  },
  watch: {
    value(val) {
      this.currentValue = val
    },
    currentValue(val) {
      this.$emit('input', val)
    },
  },
  mounted() {
    this.date = this.$dt.newDate(this.currentValue)
    this.currentMonth = this.date.format(this.fmt)
    this.initCalendar()
    this.$emit('input', this.currentValue)
  },
  methods: {
    initCalendar() {
      // 初始化日历
      this.setCalendarDays()
      this.setChoiceDay(this.currentValue)
    },
    onCurrentMonth() {
      this.date = this.$dt.newDate(this.$dt.getToday())
      this.currentMonth = this.date.format(this.fmt)
      this.initCalendar()
    },
    onPrevMonth() {
      this.date = this.date.subMonth()
      this.currentMonth = this.date.format(this.fmt)
      this.initCalendar()
    },
    onNextMonth() {
      this.date = this.date.addMonth()
      this.currentMonth = this.date.format(this.fmt)
      this.initCalendar()
    },
    onChoiceDay(value) {
      this.clearChoiceDay()
      this.setChoiceDay(value)
    },
    onFold() {
      // 处理折叠
      this.isFold = !this.isFold
      this.initCalendar()
    },
    setCalendarDays() {
      // 设置日历
      this.days = this.isFold ? this.getFoldDays() : this.getUnFoldDays()
    },
    setChoiceDay(value) {
      // 设置选项
      this.currentValue = value
      let self = this
      this.$nextTick(function() {
        let days = this.$refs.day
        days.forEach(function(item) {
          if (item.dataset.value === self.currentValue) {
            item.classList.add('m-calendar__content-days-item-wrapper--choice')
          }
        })
      })
    },
    clearChoiceDay() {
      // 删除已选
      let days = this.$refs.day
      let self = this
      days.forEach(function(item) {
        if (item.dataset.value === self.currentValue) {
          item.classList.remove('m-calendar__content-days-item-wrapper--choice')
        }
      })
      this.currentValue = ''
    },
    getUnFoldDays() {
      // 获取没有折叠的数据
      return this.getMonthDays()
    },
    getFoldDays() {
      //获取折叠的数据
      let weeks = this.getMonthWeeks()
      return weeks[this.weekIdx]
    },
    getMonthDays() {
      // 获取指定月份的所有日期列表
      let year = Number(this.date.getYear())
      let month = Number(this.date.getMonth())
      let endDay = this.$dt.getMonthEndDay(year, month)
      let days = []
      for (let i = 1; i <= endDay; i++) {
        let day = this.date.format('YYYY-MM') + '-' + this.$dt.getStringX(i)
        days.push({
          id: day,
          value: i,
          isToday: this.$dt.getToday() === day,
          isCurrentMonth: true,
        })
      }
      return [
        ...this.getPrevDays(year, month),
        ...days,
        ...this.getNextDays(year, month),
      ]
    },
    getMonthWeeks() {
      // 获取指定月份的所有周期列表
      let days = this.getMonthDays()
      let weeks = {}
      let row = 0
      let self = this
      days.forEach(function(item, idx) {
        if (weeks[row] === undefined) {
          weeks[row] = []
        }

        if (item.id === self.$dt.getToday()) {
          self.weekIdx = row
        }

        let k = 7 * (row + 1)
        if (idx < k) {
          weeks[row].push(item)
        }
        if (idx + 1 == k) {
          row += 1
        }
      })
      return weeks
    },
    getPrevDays(year, month) {
      // 上个月末尾的日期
      let firstDayWeek = this.$dt.getWeek(year, month, 1)
      firstDayWeek = firstDayWeek != 0 ? firstDayWeek : 7

      let prevMonthLastDay = this.$dt.getMonthEndDay(year, month - 1)
      let k = firstDayWeek - 1

      let date = this.date.subMonth()
      let days = []
      for (let i = k - 1; i >= 0; i--) {
        let value = prevMonthLastDay - i
        let day = date.format('YYYY-MM') + '-' + this.$dt.getStringX(value)
        days.push({
          id: day,
          value: value,
          isToday: false,
          isCurrentMonth: false,
        })
      }
      return days
    },
    getNextDays(year, month) {
      // 下个月开头的日期
      let lastDay = this.$dt.getMonthEndDay(year, month)
      let lastDayWeek = this.$dt.getWeek(year, month, lastDay)
      lastDayWeek = lastDayWeek != 0 ? lastDayWeek : 7
      let k = 7 - lastDayWeek

      let date = this.date.addMonth()
      let days = []
      for (let i = 1; i <= k; i++) {
        let day = date.format('YYYY-MM') + '-' + this.$dt.getStringX(i)
        days.push({
          id: day,
          value: i,
          isToday: false,
          isCurrentMonth: false,
        })
      }
      return days
    },
    getStyle(day) {
      return [
        day.isCurrentMonth ? '' : 'm-calendar__content-days-item--other-month',
        day.isToday ? 'm-calendar__content-days-item--today' : '',
      ]
    },
  },
}
</script>
<style scoped>
.m-calendar {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 243, 245);
}

.m-calendar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.m-calendar__header--left,
.m-calendar__header--right {
  display: flex;
  width: 50px;
  height: 36px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
}

.m-calendar__header--left {
  margin-left: 50px;
}

.m-calendar__header--right {
  margin-right: 50px;
}

.m-calendar__content {
  display: flex;
  flex-direction: column;
}

.m-calendar__content-weeks,
.m-calendar__content-days {
  display: flex;
  flex-flow: row wrap;
}

.m-calendar__content-box {
  width: 14%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
}

.m-calendar__content-days-item-wrapper--choice {
  background-color: #e2e2e2;
}

.m-calendar__content-days-item {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 2px auto;
  border-radius: 50%;
}

.m-calendar__content-days-item--other-month {
  color: gray;
}

.m-calendar__content-days-item--today {
  color: #0fc37c;
}

.m-calendar__content-days-item--rest-day {
  color: red;
}

.m-calendar__fold {
  display: flex;
  justify-content: center;
  height: 20px;
  margin-bottom: 2px;
}

.m-calendar__fold-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.arrow-bottom {
  margin-top: -10px;
}
</style>

