<template>
  <div class="m-cell">
    <div class="m-cell-wrapper divider">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: 'm-cell',
}
</script>
<style scoped>
.m-cell {
  min-height: 48px;
}

.m-cell-wrapper {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  min-height: inherit;
  align-items: center;
}
</style>
