<template>
  <div :class="checkListClass" @click.stop="handleClick">
    <div :class="checkListItemClass" v-for="(option, index) in options" :key="option.label">
      <input
        :class="['m-checklist-item-input', option.checked ? 'm-checklist-item--checked' : '']"
        ref="item"
        type="checkbox"
        v-model="currentValue"
        :value="option.value"
        :id="uniquePreffix + index"
        :disabled="option.disabled"
      />
      <label :for="uniquePreffix + index" class="m-checklist-item-label" :data-index="index">
        <img :src="option.imgUrl" alt v-if="option.imgUrl" class="m-checklist-item-label-img" />
        {{ option.label }}
      </label>
      <div class="m-checklist-item--arrow-right" v-if="option.link" @click="toLink(option.link)">
        <div class="iconfont icon-right"></div>
      </div>
    </div>
  </div>
</template>
<script>
import valueMixin from '@/mixin/valueMixin'
export default {
  name: 'm-checklist',
  mixins: [valueMixin],
  props: {
    options: {
      type: Array,
      required: true,
    },
    name: {
      type: String,
      default: 'checklist',
    },
    value: {
      type: Array,
      default: function() {
        return []
      },
    },
    isVertical: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      uhash: this.makeHash(),
    }
  },
  computed: {
    checkListClass() {
      return [
        'm-checklist',
        this.isVertical
          ? 'm-checklist--direction-vertical'
          : 'm-checklist--direction-horizontal',
      ]
    },
    checkListItemClass() {
      return ['m-checklist-item', this.isVertical ? 'divider' : '']
    },
    uniquePreffix() {
      return this.name + this.uhash
    },
  },
  methods: {
    makeHash() {
      return Math.random()
        .toString(16)
        .substr(2)
    },
    handleClick(e) {
      if (e.target.nodeName.toLowerCase() === 'label') {
        const index = e.target.dataset.index
        this.changeLabelClass(index)
      }
    },
    changeLabelClass(index) {
      let item = this.$refs.item[index]
      let c = 'm-checklist-item--checked'
      if (item.classList.contains(c)) {
        item.classList.remove(c)
      } else {
        item.classList.add(c)
      }
    },
  },
}
</script>

<style scoped>
.m-checklist {
  display: flex;
}

.m-checklist--direction-horizontal {
  height: 42px;
  align-content: center;
}

.m-checklist--direction-vertical {
  flex-direction: column;
}

.m-checklist-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  line-height: 42px;
  font-size: 16px;
}

.m-checklist-item-input {
  position: absolute;
  opacity: 0;
}

.m-checklist-item-label {
  width: 100%;
}

.m-checklist-item-label-img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.m-checklist-item--arrow-right {
  display: flex;
  justify-content: center;
  width: 40px;
}

.m-checklist-item-label::before {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  top: 0.2em;
  margin-right: 1em;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  content: '';
  background: #f4f4f4;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.m-checklist-item--checked + .m-checklist-item-label::before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

/* .m-checklist-item--input:checked + .m-checklist-item-label::before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
} */

.m-checklist-item-label:hover + .m-checklist-item-label::before {
  outline: none;
  border-color: #3197ee;
}

.m-checklist-item-input:disabled + .m-checklist-item-label::before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
</style>

