<template>
  <div class="m-field">
    <div @click="openModal" class="m-field-modal">
      <div class="arrow-right"></div>
    </div>
    <mt-field
      :label="label"
      :placeholder="placeholder"
      readonly
      disableClear
      v-model="currentValue"
    >
    </mt-field>
    <mt-popup
      v-model="isOpen"
        popup-transition="popup-fade"
        position="bottom"
      >
      <div style="width: 100vw">
        <mt-picker :slots="pickerSlots" showToolbar @change="onValuesChange" ref="picker">
          <span @click="cancel">取消</span>
          <span @click="confirm">确定</span>
        </mt-picker>
      </div>
    </mt-popup>
  </div>
</template>
<script>
import DateTime from '@/utils/datetime.js'
export default {
  name: 'm-datetime-picker',
  data() {
    return {
      currentValue: '', // 显示的值
      pickerValues: [], // 选择的picker值
      isOpen: false, // 是否开popup
      pickerSlots: [],
    }
  },
  props: {
    label: String,
    type: {
      type: String,
      default: 'datetime',
    },
    start: String,
    end: String,
    placeholder: {
      type: String,
      default: '请选择...',
    },
    divider: {
      type: String,
      default: '-',
    },
  },
  mounted() {
    this.setSlotsData()
  },
  methods: {
    openModal() {
      this.isOpen = true
    },
    onValuesChange(picker, values) {
      // 切换变量
      this.pickerValues = values
    },
    getDefaultValues() {
      // 获取默认值
      return this.$refs.picker.getValues()
    },
    getDatetimeSlots() {
      // 获取日期时间数据
      let date = new Date()
      let start_year =
        this.start !== undefined ? Number(this.start) : date.getFullYear()

      let end_year = this.end !== undefined ? Number(this.end) : start_year + 1
      let month = date.getMonth() + 1
      let day = date.getDate()
      return [
        {
          flex: 2,
          values: DateTime.getYearRange(start_year, end_year),
          defaultIndex: 0,
        },
        {
          flex: 1,
          values: DateTime.getMonthList(),
          defaultIndex: month - 1,
        },
        {
          flex: 1,
          values: DateTime.getDayList(start_year, month),
          defaultIndex: day - 1,
        },
        { flex: 2, values: DateTime.getHourMinuteList(7, 23) },
      ]
    },
    getDateSlots() {
      // 获取日期数据
      let date = new Date()
      let start_year =
        this.start !== undefined ? Number(this.start) : date.getFullYear()

      let end_year = this.end !== undefined ? Number(this.end) : start_year + 1
      let month = date.getMonth() + 1
      let day = date.getDate()
      return [
        {
          flex: 1,
          values: DateTime.getYearRange(start_year, end_year),
          defaultIndex: 0,
        },
        {
          values: DateTime.getMonthList(),
          defaultIndex: month - 1,
        },
        {
          flex: 1,
          values: DateTime.getDayList(start_year, month),
          defaultIndex: day - 1,
        },
      ]
    },
    getTimeSlots() {
      // 获取时间数据
      return [{ values: DateTime.getHourMinuteList(7, 23) }]
    },
    setSlotsData() {
      if (this.type === 'datetime') {
        this.pickerSlots = this.getDatetimeSlots()
      } else if (this.type === 'date') {
        this.pickerSlots = this.getDateSlots()
      } else if (this.type === 'time') {
        this.pickerSlots = this.getTimeSlots()
      } else {
        throw new Error('DateTimePicker have invalid type.')
      }
    },
    cancel() {
      this.isOpen = false
    },
    getFormatDateValue() {
      // 获取格式化日期值
      return [
        this.pickerValues[0],
        DateTime.getStringX(this.pickerValues[1]),
        DateTime.getStringX(this.pickerValues[2]),
      ].join(this.divider)
    },
    getFormatTimeValue() {
      // 获取格式化时间值
      return DateTime.getStringX(this.pickerValues[0], 5)
    },
    getFormatDatetimeValue() {
      let time = DateTime.getStringX(this.pickerValues[3], 5)
      return this.getFormatDateValue() + ' ' + time
    },
    getFormatPickerValue() {
      // 获取格式化的数据
      if (this.type === 'datetime') {
        return this.getFormatDatetimeValue()
      } else if (this.type === 'date') {
        return this.getFormatDateValue()
      } else if (this.type === 'time') {
        return this.getFormatTimeValue()
      }
    },
    confirm() {
      // 设置默认picker值
      if (this.pickerValues.length === 0) {
        this.pickerValues = this.getDefaultValues()
      }
      this.currentValue = this.getFormatPickerValue()
      this.$emit('input', this.currentValue)
      this.isOpen = false
    },
  },
}
</script>
<style scoped>
.m-field {
  position: relative;
}
.m-field-modal {
  position: absolute;
  width: 100vw;
  height: 48px;
  line-height: 48px;
  z-index: 1;
}

.m-field-modal > .arrow-right {
  position: relative;
  margin-top: 20px;
  margin-left: 92vw;
}

.picker-toolbar {
  border-bottom: 1px solid #eaeaea;
}

.picker-toolbar span {
  display: inline-block;
  width: 50vw;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
</style>

