<template>
  <div class="m-form">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'm-form',
  data() {
    return {}
  },
  props: {
    model: Object,
    rules: Object,
  },
  computed: {
    fields() {
      let fields = []
      for (let key in this.rules) {
        fields.push(key)
      }
      return fields
    },
  },
  methods: {
    validate(callback) {
      // 验证
      let valid = true
      let errmsg = ''
      for (let i = 0; i < this.fields.length; i++) {
        let item = this.fields[i]
        let rules = this.rules[item]
        if (rules !== undefined) {
          [valid, errmsg] = this.validateField(item, rules)
          if (!valid) {
            break
          }
        }
      }
      callback(valid, errmsg)
    },
    validateField(field, rules) {
      // 验证某一个字段
      let valid = true
      let errmsg = ''
      for (let k in rules) {
        if (!valid) {
          return [valid, errmsg]
        }
        if (k === 'required' && rules[k] === true) {
          valid = this.isRequired(field)
          errmsg =
            rules.message !== undefined
              ? rules.message
              : `${field} required error`
        } else if (k === 'validator') {
          valid = this.isValidator(field, rules[k])
          errmsg =
            rules.message !== undefined
              ? rules.message
              : `${field} validator error`
        }
      }
      return [valid, errmsg]
    },
    isRequired(field) {
      let value = this.model[field]
      return value !== '' ? true : false
    },
    isValidator(field, validator) {
      let value = this.model[field]
      return validator(value)
    },
  },
}
</script>
