<template>
  <div class="m-navbar" :class="fixedStyle">
    <div class="m-navbar-wrapper">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: 'm-navbar',
  props: {
    fixed: {
      type: Boolean,
      default: false,
    },
    pos: {
      type: String,
      default: 'top',
    },
  },
  computed: {
    fixedStyle() {
      return [
        this.fixed ? 'm-navbar--fixed' : '',
        this.fixed && this.pos === 'top'
          ? 'm-navbar--fixed-top'
          : 'm-navbar--fixed-bottom',
      ]
    },
  },
}
</script>
<style scoped>
.m-navbar {
  display: block;
  width: 100vw;
}

.m-navbar-wrapper {
  background-color: #fff;
}
.m-navbar--fixed {
  position: fixed;
}

.m-navbar--fixed-top {
  top: 0;
  left: 0;
  box-shadow: 0 1px 5px #e3e3e3;
}

.m-navbar--fixed-bottom {
  bottom: 0;
  left: 0;
  box-shadow: 0 -1px 5px #e3e3e3;
}
</style>
