<template>
  <div class="m-field">
    <div @click="openModal" class="m-field-modal"></div>
    <mt-field
      :label="label"
      :placeholder="placeholder"
      readonly
      disableClear
      v-model="currentValue"
    ></mt-field>
    <mt-popup v-model="isOpen" popup-transition="popup-fade" position="bottom">
      <div style="width: 100vw">
        <mt-picker :slots="pickerSlots" showToolbar @change="onValuesChange" ref="picker">
          <span @click="cancel">取消</span>
          <span @click="confirm">确定</span>
        </mt-picker>
      </div>
    </mt-popup>
  </div>
</template>
<script>
export default {
  name: 'm-picker',
  data() {
    return {
      currentValue: '', // 显示的值
      pickerValues: [], // 选择的picker值
      isOpen: false, // 是否开popup
      isVslots: false, // 是否是变换的slots
      pickerSlots: [],
      slotsIndexArr: [],
    }
  },
  props: {
    label: String,
    slots: {
      type: Array,
      default: null,
    },
    vslots: {
      type: Array,
      default: null,
    },
    placeholder: {
      type: String,
      default: '请选择...',
    },
    divider: {
      type: String,
      default: '-',
    },
    handleFunc: {
      type: Function,
      default: null,
    },
  },
  mounted() {
    this.setSlotsData()
  },
  methods: {
    openModal() {
      this.isOpen = true
    },
    onValuesChange(picker, values) {
      // 切换变量
      if (this.isVslots) {
        let arr = this.checkChangeIndex(values)
        let slotsData = this.getChangeVslotsData(arr)
        for (let i = 0; i < this.slotsIndexArr.length; i++) {
          picker.setSlotValues(i, slotsData[i])
        }
      }
      this.pickerValues = values
    },
    getDefaultValues() {
      // 获取默认值
      return this.$refs.picker.getValues()
    },
    getVslotsDepth(vslots) {
      // 获取vslots 深度
      let count = 0
      let slots = vslots
      while (slots.length > 0) {
        count += 1
        let item = slots[0]
        if (item.children !== undefined) {
          slots = item.children
        } else {
          break
        }
      }
      return count
    },
    getVslotsKeys(arr) {
      return arr.map(x => x.name)
    },
    getDefaultVslotsData() {
      // 获取默认Vslots
      let result = []
      let slots = this.vslots
      let depth = this.getVslotsDepth(slots)
      for (let i = 0; i < depth; i++) {
        result.push({ values: this.getVslotsKeys(slots) })
        slots = slots[0].children
        this.slotsIndexArr.push(0)
      }
      return result
    },
    getChangeVslotsData(arr) {
      // 获取变化的vslots数据
      let slots = this.vslots
      let result = [this.getVslotsKeys(slots)]
      for (let i = 0; i < arr.length; i++) {
        let index = arr[i]
        slots = slots[index].children
        result.push(this.getVslotsKeys(slots))
      }
      return result
    },
    checkChangeIndex(values) {
      // 检查修改的slots的下标
      let arr = []
      for (let i = 0; i < values.length - 1; i++) {
        let index = this.pickerSlots[i].values.indexOf(values[i])
        if (index > -1) {
          arr.push(index)
          if (index !== this.slotsIndexArr[i]) {
            break
          }
        } else {
          arr.push(0)
        }
      }

      let arr_length = arr.length
      while (arr_length < values.length - 1) {
        arr.push(0)
        arr_length += 1
      }
      return arr
    },
    setSlotsData() {
      if (this.slots !== null) {
        this.pickerSlots = this.slots
      } else if (this.vslots !== null) {
        this.isVslots = true
        this.pickerSlots = this.getDefaultVslotsData()
      } else {
        this.pickerSlots = []
      }
    },
    cancel() {
      this.isOpen = false
    },
    confirm() {
      if (this.pickerValues.length === 0) {
        this.pickerValues = this.getDefaultValues()
      }
      if (this.handleFunc !== null) {
        this.currentValue = this.handleFunc(this.pickerValues)
      } else {
        this.currentValue = this.pickerValues.join(this.divider)
      }
      this.$emit('input', this.currentValue)
      this.isOpen = false
    },
  },
}
</script>
<style scoped>
.m-field {
  position: relative;
}
.m-field-modal {
  position: absolute;
  width: 100vw;
  height: 48px;
  line-height: 48px;
  z-index: 1;
}

.m-field-modal > .arrow-right {
  position: relative;
  margin-top: 20px;
  margin-left: 92vw;
}

.picker-toolbar {
  border-bottom: 1px solid #eaeaea;
}

.picker-toolbar span {
  display: inline-block;
  width: 50vw;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
</style>
