<template>
  <div class="m-search">
    <div class="m-search-bar">
      <form action="#">
        <input
          type="search"
          placeholder="搜索"
          v-model="currentValue"
          v-on:keyup.enter="confirm"
        />
        <input type="text" style="display:none;" />
      </form>
    </div>
  </div>
</template>
<script>
export default {
  name: 'm-search',
  data() {
    return {
      currentValue: '',
    }
  },
  props: {
    value: {},
  },
  watch: {
    value(val) {
      this.currentValue = val
    },
    currentValue(val) {
      this.$emit('input', val)
    },
  },
  methods: {
    cancel() {
      // 取消
      this.value = ''
    },
    confirm() {
      this.$emit('confirm')
    },
  },
}
</script>
<style scoped>
.m-search {
  height: 42px;
}
.m-search-bar {
  box-sizing: border-box;
  height: inherit;
  padding: 5px 10px;
  background-color: #d9d9d9;
}
input {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  margin: 0;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  vertical-align: middle;
  line-height: normal;
}
input::-webkit-search-cancel-button {
  display: none;
}

input::-webkit-input-placeholder {
  text-align: center;
}
</style>
