<template>
  <div class="m-tab">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'm-tab',
  props: {
    value: {
      type: String,
      default: '',
    },
  },
}
</script>
<style scoped>
.m-tab {
  display: flex;
  /* margin: 5px auto; */
  border-radius: 1px;
  height: 100%;
}
</style>
