<template>
  <div class="m-tab-item " @click="$parent.$emit('input',  name)" :class="selected">
    <div class="m-tab-item-wrapper">
      <slot></slot>
    </div>
    <div :class="underline"></div>
  </div>

</template>
<script>
export default {
  name: 'm-tab-item',
  props: ['name'],
  computed: {
    underline() {
      return this.$parent.value === this.name ? 'm-tab-item__underline' : ''
    },
    selected() {
      return this.$parent.value === this.name ? 'selected' : ''
    },
  },
}
</script>
<style scoped>
.m-tab-item {
  flex: 1;
  text-align: center;
  /* height: 100%; */
}

.m-tab-item-wrapper {
  padding: 10px;
}

.m-tab-item__underline {
  width: 100%;
  height: 2px;
  background-color: #26a2ff;
}
</style>
