<template>
  <div>
      <van-dialog v-model="show" confirmButtonText="预约详情" cancelButtonText="会议签到" style="height:200px;padding: 75px 0" confirmButtonColor="green" cancelButtonColor="green" show-cancel-button
        @confirm="goToPage('detail')" @cancel="goToPage('sign')">
      </van-dialog>
  </div>
</template>
<script>
export default {
    data(){
        return {
            show:true,
            roomId:''
        }
    },
    methods:{
        goToPage(type){
            const baseUrl =
  process.env.NODE_ENV === 'production'
    ? 'http://admin.oaloft.com'
    : 'http://localhost:5000'
            const url = type==='sign'?baseUrl +'/api/v1/weixin/oauth2/web?rid='+this.roomId:baseUrl +'/api/v1/weixin/oauth2/web?roomId='+this.roomId+'&date='+new Date().toLocaleString().split(' ')[0].replace(/\//g,'-')
            window.location.href =url
        }
    },
    mounted(){
        this.roomId=this.$route.query.roomId
    }
}
</script>

<style>
.btn{
    width: 50px;
    height: 50px;
    background-color: red;
}
.van-hairline--top::after{
    border:0px !important;
}
.van-hairline--left::after{
    border:0px !important;
}
.van-hairline--right::after{
    border:0px !important;
}
</style>