<template>
  <div>
    <keep-alive>
      <router-view />
    </keep-alive>
    <m-navbar fixed pos="bottom">
      <div class="m-tab-item-op">
        <div
          :class="[{'theme-color': selectedRoom},'m-tab-item-op__button']"
          @click="toLink('/room')"
        >
          <div class="m-tab-item-op__button--icon iconfont icon-home"></div>
          <div class="m-tab-item-op__button--name">会议室</div>
        </div>
        <div
          :class="[{'theme-color': selectedMeeting},'m-tab-item-op__button']"
          @click="toLink('/meeting')"
        >
          <div class="m-tab-item-op__button--icon iconfont icon-meeting"></div>
          <div class="m-tab-item-op__button--name">我的会议</div>
        </div>
        <div
          v-if="isAdmin"
          :class="[{'theme-color': selectedManage},'m-tab-item-op__button']"
          @click="toAdmin"
        >
          <div class="m-tab-item-op__button--icon iconfont icon-manage"></div>
          <div class="m-tab-item-op__button--name">后台管理</div>
        </div>
      </div>
    </m-navbar>
  </div>
</template>
<script>
import { baseUrl } from '@/api/request'
import { isIPhone, isAndroid } from '@/utils'
export default {
  name: 'home',
  computed: {
    selectedRoom() {
      return this.$route.name === 'room'
    },
    selectedMeeting() {
      return this.$route.name === 'meeting'
    },
    selectedManage() {
      return this.$route.name === 'manage'
    },
    isAdmin() {
      return (
        ['AREAADMIN', 'ADMIN', 'SUPERADMIN'].includes(this.roleName) &&
        !isIPhone() &&
        !isAndroid()
      )
    },
  },
  data() {
    return {
      roleName: '',
    }
  },
  mounted() {
    this.setRoleName()
  },
  activated() {
    this.setRoleName()
  },
  methods: {
    setRoleName() {
      if (
        this.$store.state.app.currentUser &&
        this.$store.state.app.currentUser.roleName != this.roleName
      ) {
        this.roleName = this.$store.state.app.currentUser.roleName
      }
    },
    toAdmin() {
      window.location.href = 'http://admin.oaloft.com/manage/'
    },
  },
}
</script>

<style scoped>
.m-tab-item-op {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
}

.m-tab-item-op__button {
  width: 48%;
  text-align: center;
}

.m-tab-item-op__button--icon {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}

.m-tab-item-op__button--name {
  height: 12px;
  margin-top: 2px;
  line-height: 12px;
  font-size: 12px;
}
</style>


