<template>
  <div id="app">
    <!-- <keep-alive v-if="$route.meta.keepAlive">
      <router-view />
    </keep-alive>
    <router-view v-else />-->
    <keep-alive>
      <router-view />
    </keep-alive>
  </div>
</template>
<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { getMeetingList } from '@/api/index'
export default {
  computed: {
    ...mapGetters(['areaList']),
    ...mapActions({
      getAreaList: 'ActionGetAreaList',
    }),
  },
  created() {
    // this.initAreaList() // 初始化区域列表
  },
  methods: {
    ...mapMutations({
      SET_AREA_LIST: 'SET_AREA_LIST',
    }),
    initAreaList() {
      // 初始化区域列表
      // 从store中获取数据, 该数据只有在页面没有退出的情况下存在
      let areaList = this.areaList
      if (areaList.length === 0) {
        if (!this.$cache.exists('areaList')) {
          this.setAreaListByAction()
        }
        // store中没有数据， 从本地缓存中尝试获取
        areaList = this.$cache.get('areaList', true, true) || []
        if (areaList.length === 0) {
          this.setAreaListByAction()
        } else {
          this.SET_AREA_LIST(areaList)
        }
      }
    },
    setAreaListByAction() {
      // 异步获取区域列表， 并在localStorage中缓存
      this.getAreaList.then(resp => {
        this.$cache.set('areaList', resp.areaList, 600)
      })
    },
  },
}
</script>

<style scoped>
#app {
  height: inherit;
}
</style>
